[href="#main"] {
    background-color: var(--background-color-inversed) !important;
    bottom: calc(100% + 1rem);
    color: var(--monochrome-illumination-inversed) !important;
    display: inline-block !important;
    padding: var(--mesure-medium) !important;
    position: absolute !important;
    top: -20rem !important;
}