header {
	max-inline-size: 45ch;
}

#logo {
	opacity: 100% !important;
}

#logo:hover {
	opacity: 50%;
}

#title {
	display: flex;
	flex-wrap: nowrap;
	gap: var(--mesure-xxxxx-small);
}

@media only screen and (max-width: 130ch) {

	header:not(.cover-header) {
		align-items: stretch !important;
		align-content: stretch !important;
		display: flex;
		flex-direction: row;
		flex-grow: 1 !important;
		/* gap: var(--mesure-small); */
		justify-content: space-between !important;
		padding: var(--mesure-x-small);
	}

	header:not(.cover-header)>*+* {
		margin-block-start: 0;
	}

	#navigo {
		padding: var(--mesure-small) !important;
		margin: 0 !important;
	}

	#navigo ul li:before {
		display: none;
	}

	.contact-link > span {
		background: none !important;
	}
}

@media only screen and (min-width: 130ch) {

	header:not(.cover-header)>*+* {
		margin-block-start: var(--mesure-medium);
	}

	the-stack {
		box-sizing: content-box !important;
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-inline: auto;
		max-inline-size: var(--max-inline-size-xxx-large);
		max-inline-size: fit-content;
		padding-block-end: 5%;
		padding-block-start: 5%;
		padding-inline-end: 5%;
		padding-inline-start: 5%;
	}

	#navigo {
		margin-block: var(--mesure-xxx-large) !important;
	}
}