@media only screen and (min-width: 130ch) {
    #cover-body {
        min-inline-size: 100% !important;
    }
}

.cover,
the-cover {
    border-color: transparent;
    border-width: var(--mesure-xx-small);
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-block-size: 30vh;
    max-block-size: 100% !important;
    padding: var(--mesure-small);
    margin-top: 0;
    text-align: center;
}

 .cover>*,
the-cover>* {
    margin-block: var(--mesure-medium);
}

.cover> :first-child:not(h1),
the-cover> :first-child:not(h1) {
    margin-block-start: 0;
}

.cover> :last-child:not(h1),
the-cover> :last-child:not(h1) {
    margin-block-end: 0;
}

.cover header .about-link,
the-cover header .about-link {
    min-block-size: 100% !important;
}

.cover>h1,
the-cover>h1 {
    margin-block: auto, 0;

}


/*
.cover> :first-child,
the-cover> :first-child {
    justify-content: space-between;
    align-items: center;
}

.cover ol,
the-cover ol {
    align-items: center;
    justify-content: center;
    gap: var(--mesure-x-small);
} */