header {
	max-inline-size: 45ch;
}

#logo {
	opacity: 100% !important;
}

#logo:hover {
	opacity: 50%;
}

#let-me-solo-her {
	display: none;
}

.contact-link {
	font-size: var(--mesure-large);
	text-align: center !important;
}

#title {
	display: flex;
	flex-wrap: nowrap;
	gap: var(--mesure-xxxx-small);
}

@media only screen and (max-width: 130ch) {

	header:not(.cover-header) {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

	header:not(.cover-header) > * {
		flex-grow: 1;
	}

	header:not(.cover-header)>*+* {
		margin-block-start: 0;
	}

	the-frame,
	the-frame #logo {
		display: none !important;
	}

	header the-box:nth-child(2) {
		padding: 0 !important;
	}

	header the-box:nth-child(3) {
		display: none !important;
	}

	nav ul li:before {
		display: none;
	}

	.contact-link > span {
		background: none !important;
	}
}

@media only screen and (min-width: 130ch) {

	header:not(.cover-header)>*+* {
		margin-block-start: var(--mesure-medium);
	}
}