@media only screen and (max-width: 130ch) {

	nav {
		align-items: center !important;
		box-sizing: content-box !important;
		display: flex !important;
		flex-direction: column !important;
		justify-content: center !important;
		margin-inline: auto !important;
		max-inline-size: fit-content !important;
		padding: auto !important;
}

	#menuToggle {
		-webkit-user-select: none;
		display: block;
		position: relative;
		user-select: none;
		z-index: 1;
	}

	#menuToggle input {
		-webkit-touch-callout: none;
		display: block;
		height: 100%;
		left: 0;
    	opacity: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 2;
	}

	#menuToggle span {
		background: var(--color);
		display: block;
		height: 0.5ch;
		margin-bottom: 5px;
        margin-top: ch;
		position: relative;
		transform-origin: 1.5ch 0.25ch;
		transition:
			transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
			background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
			opacity 0.55s ease;
		width: 5ch;
		z-index: 1;
	}

	#menuToggle:hover > span {
		background-color: var(--accent-color);
	}

	#menuToggle:hover > span::after {
		color: var(--accent-color) !important;
	}

	#menuToggle span:nth-last-child(2):after {
        content:"menu";
        color: var(--color);
        font-size: var(--mesure-small);
    }

	#menuToggle span:first-child {
		transform-origin: 0% 0%;
	}

	#menuToggle span:nth-last-child(2) {
		transform-origin: 10% 20%;
	}

	#menuToggle input:checked ~ span {
		opacity: 1;
		transform: rotate(45deg);
		background: var(--accent-color);
	}

    #menuToggle input:checked ~ span:nth-last-child(2)::after {
        content: "";
        color: var(--color);
    }

	#menuToggle input:checked ~ span:nth-last-child(2)::before {
        content: "close";
        color: var(--color);
		font-weight: 500;
    }

	#menuToggle input:checked ~ span:nth-last-child(3) {
		opacity: 0;
		transform: rotate(0deg) scale(0.2, 0.2);
	}

	#menuToggle input:checked ~ span:nth-last-child(2) {
		transform: rotate(-45deg) translate(0, -1px);
	}

	#menuToggle a {
		color: var(--color);
		transition: color 0.1s ease;
	}

	#menu {
		border: var(--mesure-large) solid var(--color-void) !important;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		max-inline-size: 45ch;
		min-block-size: 25vh;
		min-inline-size: 40ch;
		outline: var(--mesure-x-small) dashed var(--color-dark-shade) !important;
		position: absolute;
		right: -5ch;
		transform-origin: 0% 0%;
		transform: translate(1000%, 0);
		transition: transform 0.25s cubic-bezier(0.77, 0.2, 0.05, 1);
        top: 5ch;
	}

	#menuToggle input:checked ~ ul {
		transform: none;
	}

	#menu-back-to-top,
	#menu-back-to-top::before {
		color: green !important;
	}
}

@media only screen and (min-width: 130ch) {
    header input {
        display: none !important;
    }

	#navigo {
		/* block-size: 50ch !important; */
		display: block !important;
		position: sticky !important;
		z-index: 2 !important;
		left: auto !important;
		right: auto !important;
        top: var(--mesure-large) !important;
		/* align-self: flex-start !important; */
    }

	header nav ul li a {
		font-size: var(--base-mesure) !important;
	}
}