.cluster,
the-cluster {
    display: flex;
    flex-wrap: wrap;
    gap: var(--mesure-medium);
    justify-content: flex-start;
    align-items: flex-start;
}

.cluster > *,
the-cluster > * {
    margin: calc(var(--mesure-medium) / 2 - 1);
}