:root {
    --color-illumination: hsla(0, 0%, 100%, 1);
    --color-glare: hsla(0, 0%, 92%, 1);
    --color-clear-light: hsla(0, 0%, 88%, 1);
    --color-light: hsla(0, 0%, 80%, 1);
    --color-medium: hsla(0, 0%, 50%, 1);
    --color-shade: hsla(0, 0%, 30%, 1);
    --color-dark-shade: hsla(0, 0%, 15%, 1);
    --color-dark: hsla(0, 0%, 7%, 1);
    --color-void: hsla(0, 0%, 5%, 1);
    --color-dark-void: hsla(0, 0%, 0%, 1);

    --accent-color-glare: hsla(26.03, 97.33%, 55.88%, 0.85);
    --accent-color: hsla(0, 68%, 42%, 1);
    --accent-color: hsla(0, 80%, 50%, 1);
}