---
import "../../styles/global.css";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import BaseHead from "../../components/BaseHead.astro";
import CoverLayout from "../../layouts/CoverLayout.astro";
import SkipContent from "../../components/SkipContent.astro";
---

<!doctype html>
<html lang="fr">
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<body class="cover-body">
		<SkipContent />
        <CoverLayout />
	</body>
</html>