.oddly-clipped > * {
	background-color: var(--background-color) !important;
	border-color: var(--color) !important;
	clip-path: polygon(10% 2%, 92% 0%, 100% 92%, 2% 100%) !important;
	color: var(--color) !important;
	text-align: center !important;
}

.oddly-clipped span {
	margin: 0 !important;
	padding: 0 !important;
}

.oddly-clipped > :nth-child(2n) {
	clip-path: polygon(0% 0%, 92% 2%, 90% 98%, 8% 92%) !important;
}

.oddly-clipped > :nth-child(3n) {
	clip-path: polygon(0% 8%, 100% 2%, 92% 100%, 0% 92%) !important;
}