:root {
    --background-color-inverted: var(--color-clear-light);
    --background-color: var(--color-void);
    --background-image:
        linear-gradient(var(--color-dark) 5%, transparent 5%),
        linear-gradient(90deg, var(--color-dark) 5%, transparent 5%);
    --background-size: 3vw 3vw;
    --border-color-inverted: var(--color-glare);
    --border-color: var(--color-dark);
    --color-before-after: var(--color-dark);
    --color-inverted: var(--color-void);
    --color: var(--color-glare);

}

html {
    background-color: var(--background-color);
    background-image: var(--background-image) !important;
    background-size: var(--background-size) !important;
    background: var(--background-color);
    color: var(--color);
}

body {
    overflow-x: hidden !important;
}

nav ul li a {
    color: var(--color-medium) !important;
    font-size: var(--mesure-large) !important;
}

#back-up-arrow {
    display: none;
}

@media only screen and (max-width: 130ch) {

    html,
    body {
        overflow-x: hidden !important;
    }

    nav #menu {
        padding: 2.5ch !important;
        background-color: var(--color-void);
    }

    nav>*+* {
        margin-block-start: var(--mesure-xxx-large) !important;
    }

    nav ul li a {
        color: var(--color) !important;
        font-size: var(--mesure-large) !important;
    }

    #back-up-arrow {
        background-color: var(--color-void);
        color: var(--accent-color-shade);
        display: block;
        font-size: var(--mesure-x-large);
        font-weight: 900;
        position: fixed;
        right: 2.5vw;
        text-align: right;
        bottom: 2ch;
    }
}   

*:after,
*:before {
    color: var(--color-before-after);
    background-color: transparent;
    background: transparent;
}

#logo {
    border: var(--mesure-xxxx-small) solid var(--color);
    border-radius: 3ch;
}

@media screen and (min-width: 130ch){
    header  {
        background-color: var(--color-void);
        border-radius: 3ch;
    }
}


#contact {
    border-style: solid !important;
}

a:focus,
a:hover,
:focus {
    color: var(--accent-color-shade) !important;
    cursor: help;
    transform: scale(1.25);
}

header dfn {
    font-weight: 900;
}

h1:before,
h2:before,
h3:before,
h4:before,
h5:before,
h6:before,
ul li:not(footer ul li):not(.no-before):not(nav a):before {
    content: "#";
}

h1:before,
h2:before,
h3:before,
h4:before,
h5:before,
h6:before {
    color: var(--color-dark-shade) !important;
}

h1:before {
    color: var(--accent-color-shade) !important;
}

h1 span {
    color: var(--color);
}

h1 span:hover {
    transform: scale(1.5);
}

.title-explanation li {
    font-size: var(--mesure-large) !important;
    gap: var(--mesure-x-small);
}

.title-explanation li:before {
    display: none;
}

h2 {
    gap: 0% !important;
    justify-content: flex-start;
}

h3 {
    gap: var(--mesure-xxx-small) !important;
}

#second-life-h3:before {
    color: var(--color-dark-shade) !important;
}

.separator-span {
    color: var(--color-dark-shade) !important;
}

section dfn {
    color: var(--accent-color-shade);
    font-size: var(--mesure-small);
    font-weight: 900;
}

header nav h5 {
    color: var(--accent-color-shade);
    margin-top: var(--mesure-large);
    text-align: right;
}

header nav h5:before {
    color: var(--color-dark-shade);
}

nav ul li {
    font-weight: 900;
}


ul li:not(nav ul li):before {
    color: var(--color-dark-shade);
    margin-inline-end: 1ch;
}

ul li strong {
    color: var(--color-light);
    font-weight: 900;
}

article the-box,
footer the-box,
section {
    background-color: var(--color-void);
    background-image: none !important;
    border: var(--mesure-xxx-small) var(--color-void);
    border-color: green;
    border-radius: 3ch;
    border-size: var(--mesure-xxx-small);
    padding: 5%;
}

section:nth-child(odd) {
    border-color: transparent;
}

section:nth-child(3),
section:nth-child(5),
section:nth-child(7) {
    background-color: var(--color-dark);
}

section:nth-child(2),
section:nth-child(6),
section:nth-child(10) {
    border-color: var(--color-dark-shade);
    border-size: var(--mesure-xx-small) !important;
    border-style: dashed;
}
 
section:nth-child(3n+4) {
    border-color: var(--color);
    border-style: dashed;
}

article the-box {
    border: var(--mesure-xxx-small) dashed var(--accent-color-shade);
}

article h3:before {
    color: var(--color-medium);
}

footer the-box {
    border: var(--mesure-xxx-small) dashed var(--color-shade) !important;
}

footer ul {
    gap: var(--mesure-x-small) !important;
}

footer * {
    color: var(--color-medium);
    font-size: var(--mesure-small);
}