/* CSS Debugging Techniques for Identifying Overflows
Using CSS for debugging is an effective way to visually identify layout and overflow issues in web development. Here are some techniques: */

/* 1. **Scroll Bars for All Elements**:  */
* {
    overflow: unset; /* Adds temporary scroll bars to all elements */
    box-shadow: 0 0 0 2px darkblue; /* Identifies the actual box model size */
    outline: 5px dotted brown; /* Efficiently highlights elements causing overflow */
    background-color: transparent;
}

/* 2. **Element Outlines with Labels**:  */
/* *:before {
    transform: translateY(-100%) translateX(100%) rotate(45deg);
    content: attr(class) "" attr(id) "";
    color: darkred;
    position: absolute;
    border: 2px dotted darkred;
    width: auto;
    background: white;
	z-index: 666;
} */

/* 6. **Apply Background Colors for Entire Page Layout Debugging**: */
*:nth-child(n) {
    background-color: transparent; /* Visualizes element stacking */
}


* {
    border: 2px dotted blue;
}

:root {
    border: 2px dotted green ;
}

html {
    border: 2px dotted yellow;
    background-color: grey !important;
}

body {
    border: 2px dotted green !important;
    box-shadow: none !important;
}

/* 7. **Grid and Flexbox Debugging**:  */
.grid-container {
outline: 2px dotted green;
}
.grid-item {
outline: 2px dotted purple;
}
.flex-container {
outline: 2px dotted orange;
}


/*https://meyerweb.com/eric/tools/css/diagnostics/index.html*/
/* div:empty, span:empty,
li:empty, p:empty,
td:empty, th:empty {padding: 0.5em; background: yellow;}

*[style], font, center {outline: 5px dotted red;}
*[class=""], *[id=""] {outline: 5px dotted red;}

img[alt=""] {border: 3px dotted red;}
img:not([alt]) {border: 5px dotted red;}
img[title=""] {outline: 3px dotted fuchsia;}
img:not([title]) {outline: 5px dotted fuchsia;}

table:not([summary]) {outline: 5px dotted red;}
table[summary=""] {outline: 3px dotted red;}
th {border: 2px dotted red;}
th[scope="col"], th[scope="row"] {border: none;}

a[href]:not([title]) {border: 5px dotted red;}
a[title=""] {outline: 3px dotted red;}
a[href="#"] {background: lime;}
a[href=""] {background: fuchsia;} */