---
import "../styles/global.css";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseHead from "../components/BaseHead.astro";
import CoverLayout from "../layouts/CoverLayout.astro";
import SkipContent from "../components/SkipContent.astro";
---

<!doctype html>
<html lang="en">
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<body id="" class:list="cover-body">
		<SkipContent />
        <CoverLayout />
	</body>
</html>

<style>
	body {
        align-items: center !important;
        display: flex !important;
        justify-content: center !important;
        min-inline-size: 100%;
    }
</style>
