---
import "../styles/global.css";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import AttentionArticle from "../components/AttentionArticle.astro";
import BackToTopArrow from "../components/BackToTopArrow.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ITLayout from "../layouts/ITLayout.astro";
import SkipContent from "../components/SkipContent.astro";
---

<!doctype html>
<html lang="en">
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<body id="the-body" class:list="grid-background">
		<SkipContent />
		<Header title={SITE_TITLE} />
		<ITLayout />
		<AttentionArticle />
		<Footer />
		<BackToTopArrow />
	</body>
</html>