---
import "../../styles/global.css";
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import BaseHead from '../../components/BaseHead.astro';
import BrandingLayout from "../../layouts/Brandinglayout-it.astro"
import Footer from "../../components/Footer-it.astro";
import Header from "../../components/Header-it.astro";
import SkipContent from "../../components/SkipContent.astro";
---

<!doctype html>
<html lang="en">
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <body>
        <SkipContent />
        <Header title={SITE_TITLE} />
        <BrandingLayout />
        <Footer />
    </body>
</html>