---
import "../../styles/global.css";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import BaseHead from "../../components/BaseHead.astro";
import EducationLayout from "../../layouts/EducationLayout-it.astro";
import Footer from "../../components/Footer-it.astro";
import Header from "../../components/Header-it.astro";
import SkipContent from "../../components/SkipContent.astro";
import BackToTopArrow from "../../components/BackToTopArrow.astro";
---

<!doctype html>
<html lang="en">
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<body id="the-body" class:list="grid-background">
		<SkipContent />
		<Header title={SITE_TITLE} />
		<EducationLayout />
		<Footer />
		<BackToTopArrow />
	</body>
</html>