---
import "../../styles/global.css";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header-it.astro";
import Footer from "../../components/Footer.astro";
import SkipContent from "../../components/SkipContent.astro";
import TrainingLayout from "../../layouts/TrainingLayout-it.astro";

// Theme variant for christmas
const currentDate = new Date();
const isChristmas =
	currentDate.getMonth() === 12 && currentDate.getDate() >= 25;
---

<!doctype html>
<html lang="en">
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<body>
		<SkipContent />
		<Header title={SITE_TITLE} />
		<TrainingLayout />
		<Footer />
	</body>
</html>