---
import "../styles/global.css";
import Box from "./Box.astro";
---
<article class="box stack">
    <Box>
        <h3 class="cluster">
            <span class="separator-span">!</span>
            <span class="accent-color-shade">INFO</span>
            <span class="separator-span">:</span>
            <span class="accent-color-shade">Covid</span>
            <span class="separator-span">&#9888;</span>
        </h3>

        <p>
            In caso di una situazione sanitaria restrittiva, come nel caso di COVID-19, è di fondamentale importanza che gli
            interventi in loco vengano effettuati nel rispetto rigoroso delle misure preventive. Vi chiediamo cortesemente
            di:
        </p>

        <ul class="box stack-x-small">
            <li>Indossare una maschera in ogni momento durante l'intervento.</li>
            <li>Mantenere il distanziamento fisico al fine di ridurre al minimo i contatti ravvicinati.</li>
            <li>Assicurarsi della corretta <a
                href="https://www.miogreen.it/come-disinfettare-smartphone-notebook-e-pc/">disinfezione</a> del dispositivo o dell'attrezzatura che potrebbe essere interessata dall'intervento.
            </li>
        </ul>

        <p>Grazie per la vostra collaborazione.</p>
    </Box>
</article>