---
import "../styles/global.css";
---

<article class="box stack">

    <h3 class="cluster">
        <span class="separator-span">!</span>
        <span class="accent-color-shade">INFO</span>
        <span class="separator-span">:</span>
        <span class="accent-color-shade">Covid</span>
        <span class="separator-span">&#9888;</span>
    </h3>

    <p>In the case of a restrictive health situation, such as in the case of COVID-19, it is imperative that on-site interventions be carried out strictly respecting preventive measures. We kindly ask you to:
    </p>

    <ul class="box stack-x-small">
        <li>Wear a mask at all times during the intervention.</li>
        <li>Maintain physical distancing in order to minimize close contacts.</li>
        <li>Ensure the correct <a href="https://www.pcmag.com/how-to/disinfect-clean-electronics-viruses-germs">disinfection</a> of the device or equipment that may be involved in the intervention.</li>
    </ul>

    <p>Thank you for your cooperation.</p>

</article>