---
import "../styles/global.css";
import Box from "./Box.astro";
---
<article class="box stack">
    <Box>
        <h3 class="cluster">
            <span class="separator-span">!</span>
            <span class="accent-color-shade">INFO</span>
            <span class="separator-span">:</span>
            <span class="accent-color-shade">Covid</span>
            <span class="separator-span">&#9888;</span>
        </h3>
        <p> Dans le cas d'une situation sanitaire restrictive, les interventions devront obligatoirement se dérouler dans le respect des mesures préventives en rigueur.
        Il vous sera demandé de:
        </p>
        <ul class="box stack-x-small">
            <li>Porter un masque durant l'intervention.</li>
            <li>Maintenir les distances afin de réduir au minimum les risques de contact.</li>
            <li>Desinfecter les appareils concernés avant l'intervention pour limiter les risques de contagion.
            </li>
        </ul>
        <p>Merci pour votre compréhension.</p>
    </Box>
</article>