---
import "../styles/global.css";
import { EMAIL_ADDRESS, TELEPHONE_NUMBER } from "../consts";
---

<section class="stack-large">

    <h3 class="cluster">
        <span>Contact</span>
        <span class="separator-span">&#8594;</span>
        <span>Us</span>
        <span class="separator-span">:</span>
    </h3>

    <dfn>Get in Touch</dfn>

    <p>If you have any questions or would like to discuss your project, please don't hesitate to <a  href={TELEPHONE_NUMBER} class="accent-color-shade">call us</a> or <a href={EMAIL_ADDRESS} class="accent-color-shade">email us</a>. We are here to provide the solutions you need to thrive in the digital world. Your success is our success, and we look forward to being your trusted partner.</p>
</section>