---
import "../styles/global.css";
import { EMAIL_ADDRESS, TELEPHONE_NUMBER } from "../consts";
---

<section class="stack-large">

    <h3 class="cluster">
        <span>Contatti</span>
        <span class="separator-span">:</span>
    </h3>

    <dfn>Parliamo</dfn>
    
    <p>Per qualsiasi domanda o desiderio di discutere di un progetto, non esitate a <a href={TELEPHONE_NUMBER} class="accent-color-shade">chiamarci</a> o inviarci un'<a href={EMAIL_ADDRESS} class="accent-color-shade">email</a>.</p>

    <p>Siamo qui per fornire le soluzioni di cui avete bisogno per prosperare nel mondo digitale. Il vostro successo è il nostro successo, e non vediamo l'ora di essere il vostro partner di fiducia.</p>
</section>