---
import "../styles/global.css";
import { EMAIL_ADDRESS, TELEPHONE_NUMBER } from "../consts";
---

<section class="stack-large">

    <h3 class="cluster">
        <span>Nous</span>
        <span class="separator-span">&#8594;</span>
        <span>Contacter</span>
        <span class="separator-span">:</span>
    </h3>

    <dfn>Discutons</dfn>

    <p>Pour toute question ou discuter de votre projet, n'hésitez-pas à <a  href={TELEPHONE_NUMBER} class="accent-color-shade">nous appeler</a> ou <a href={EMAIL_ADDRESS} class="accent-color-shade">nous envoyer un email</a>.</p>
</section>