---
import { SITE_TITLE } from "../consts";
const today = new Date();
import "../styles/global.css";
import Box from "./Box.astro";
import Link from "./Link.astro";
import { getRelativeLocaleUrl } from 'astro:i18n';

const brandingURL=getRelativeLocaleUrl("it", "branding");
---

<footer class:list={["box stack"]} role="contentinfo">
	<Box>
		<ul class:list={["cluster"]}>
			<li>
				<Link href="https://astro.build">
					Astro Inside
				</Link>
			</li>

			<li>
				<Link href="https://github.com/PowerShell/PowerShell">
					PowerShell Inside
				</Link>
			</li>

			<li>
				<Link href="https://www.openbsd.org">
					OpenBSD Squib
				</Link>
			</li>

			<li>
				<Link href="https://blender.org">
					Blender Inside
				</Link>
			</li>

			<li>
				<span>&#x221E;</span>
			</li>

			<li>
				Identità Visuale, sito web e tutto il contenuto visuale create da <Link  href={brandingURL}>#{SITE_TITLE}</Link>.
			</li>

			<li>
				&copy; 2009-{today.getFullYear()} #{SITE_TITLE}. Tutti i diritti riservati.
			</li>
		</ul>
	</Box>
</footer>
