---
import { SITE_DESCRIPTION } from "../consts";
import "../styles/global.css";
import Center from "./Center.astro";
import Frame from "./Frame.astro";
import Navigation from "./Navigation.astro";
import Stack from "./Stack.astro";

const logoLink = "/INFOGRAPHI-LOGO.jpg";
---

<header class="box" role="banner">

		<Frame>
			<img  id="logo" src={logoLink} alt="#INFOGRAPHI logo." />
		</Frame>

		<Stack class:list={"stack-x-small"}>
			<h1 id="title">
				<span>I</span>
				<span>N</span>
				<span>F</span>
				<span>O</span>
				<span>G</span>
				<span>R</span>
				<span>A</span>
				<span>P</span>
				<span>H</span>
				<span>I</span>
			</h1>

			<dfn class="color-medium font-weight-black">{SITE_DESCRIPTION}</dfn>
		</Stack>

		<Navigation class:list={"sticky"} />
</header>