---
import "../styles/global.css";
import { SITE_TITLE } from "../consts";
import Contact from "../components/Contact.astro";
---

<main class="box stack-xxx-large">

	<section class="stack-x-large">

		<h2>?</h2>

		<dfn>ABOUT</dfn>

		<ul class="box title-explanation stack-large">

			<li class="cluster">
				<strong>INFO</strong>
				<span class="separator-span">=</span>
				<span>Information</span>
			</li>

			<li class="cluster">
				<strong>GRAPHI</strong>
				<span class="separator-span">=</span>
				<span>Graphic</span>
				<span>Design</span>
			</li>

			<li class="cluster">
				<strong>PHI</strong>
				<span class="separator-span">=</span>
				<span>Perfect</span>
				<span>Proportions</span>
			</li>
		</ul>

		<p>At <span class="accent-color-shade">{SITE_TITLE}</span>, we specialize in offering end-to-end IT, Web, Branding and educational solutions
			that cater to the needs of individuals, freelancers, and small
			businesses. With a strong focus on efficiency, reliability, and
			expertise, we aim at becoming your trusted partner in navigating the complex
			world of technology. Our expertise spans across a range of technical
			challenges, ensuring seamless and efficient digital operations for our
			clients.</p>
	</section>

	<section class="stack-large">
		
		<h3 class="cluster">
			<span>Info</span>
			<span class="separator-span">:</span>
		</h3>

		<p>Info stands for <span class="accent-color-shade">Information</span> Technology. We bring a wealth of experience and a genuine passion for technologies. Moreover, <span class="accent-color-shade">Information</span> is knoweledge. We believe in sharing <span class="accent-color-shade">Information</span> and empowering our clients through education. We don't just solve immediate IT challenges; we equip you with the understanding to navigate the ever-evolving technological landscape confidently.</p>

		<p>But <span class="accent-color-shade">Information</span> embodies our commitment to clear, transparent communication. In every interaction, we prioritize keeping you informed and involved. We understand that effective communication is key to a successful partnership, and we strive to create an environment where <span class="accent-color-shade">Information</span> flows seamlessly.</p>

		<p>Lastly, <span class="accent-color-shade">Information</span> is today synonym of personal <span class="accent-color-shade">Information</span>. We take data security and privacy seriously, helping you or taking care of implementing robust measures to ensure your data is always protected.</p>
	</section>

	<section class="stack-large">

		<h3 class="cluster">
			<span>Graphi</span>
			<span class="separator-span">:</span>
		</h3>

		<p><span class="accent-color-shade">Graphic Design</span>, is a canvas for creative storytelling. From the initial spark of an idea to the final brushstroke, our team weaves narratives that embody your brand's essence. Through a thoughtful blend of imagery, typography, and design elements, we aim to create visuals that tell compelling stories, ensuring they remain fresh, impactful and distinctive.</p>

		<p>Our <span class="accent-color-shade">Graphic Design</span> philosophy goes beyond appearances, focusing on the purposeful fusion of form and function. Each design element serves a role, ensuring not just visual appeal but practical usability. This intentional balance guarantees that your visual experiences not only look good but also serve their intended purpose effectively.</p>

		<p>Crafting <span class="accent-color-shade">Visual Experiences</span> requires understanding your audience. Our design approach is centered around creating for the end-user, ensuring designs resonate and engage. Be it a sleek user interface or a striking marketing piece, we prioritize delivering experiences that captivate and leave a lasting impression.</p>
	</section>

	<section class="stack-large">

		<h3 class="cluster">
			<span>Phi</span>
			<span class="separator-span">:</span>
		</h3>

		<p><span class="accent-color-shade">Phi</span> is a symbol of perfect proportions and  embodies our commitment to the highest standards of quality. Being for IT interventions or creation <span class="accent-color-shade">Graphic Designs</span>, the justness of our decisions and your satisfaction are paramount for us. We don't just provide solutions; we meticulously customize them to fit high industry standards and align with your unique needs.</p>
		
		<p><span class="accent-color-shade">Innovation</span> is at the heart of <span class="accent-color-shade">Phi</span>. We actively seek creative and effective solutions to digital challenges, ensuring that our services are not just cutting-edge but also tailored to your evolving needs. Our engagement in community and social responsibility initiatives reflects our broader commitment to making a positive impact, creating a better world beyond technology.</p>		
	</section>

	<Contact />
</main>