---
import "../styles/global.css";
import { SITE_TITLE } from "../consts";
import Contact from "../components/Contact-it.astro";
---

<main class="box stack-xxx-large">

	<section class="stack-x-large">

		<h2>?</h2>

		<dfn>Chi Siamo</dfn>

		<ul class="box title-explanation stack-small">
			<li class="cluster">
				<strong>INFO</strong>
				<span class="separator-span">=</span>
				<span class="accent-color">Informazione</span>
			</li>
			<li class="cluster">
				<strong>GRAPHI</strong>
				<span class="separator-span">=</span>
				<span class="accent-color">Graphic</span>
				<span class="separator-span">_</span>
				<span class="accent-color">Design</span>
			</li>

			<li class="cluster">
				<strong>PHI</strong>
				<span class="separator-span">=</span>
				<span class="accent-color">Proporzione</span>
				<span class="separator-span">_</span>
				<span class="accent-color">Perfette</span>
			</li>
		</ul>

		<p>{SITE_TITLE} è specializzata nell'offrire soluzioni complete in ambito IT, Web e Branding e educative che rispondono alle esigenze di individui, liberi professionisti e piccole imprese. Con un forte focus sull'efficienza, l'affidabilità e la competenza, ambiamo a diventare il vostro partner di fiducia nella navigazione nel complesso mondo della tecnologia. La nostra esperienza spazia attraverso una serie di sfide tecniche, garantendo operazioni digitali senza intoppi ed efficienti per i nostri clienti.</p>
	</section>

	<section class="stack-large">
		
		<h3 class="cluster">
			<span>Information</span>
			<span class="separator-span">:</span>
		</h3>

		<p>Info è l'abbreviazione di <span class="accent-color-shade">Information Technology</span>. Portiamo con noi una vasta esperienza e una sincera passione per le tecnologie. Per noi, <span class="accent-color-shade">l'Informazione</span> è sinonimo di conoscenza. Crediamo nella condivisione di informazioni ed emancipiamo i nostri clienti attraverso l'educazione. Non ci limitiamo a risolvere le sfide immediate dell'IT; vi dotiamo della comprensione necessaria per navigare con fiducia nel panorama tecnologico in continua evoluzione.</p>

		<p>Ma <span class="accent-color-shade">l'Informazione</span> incarna anche il nostro impegno verso una comunicazione chiara e trasparente. In ogni interazione, poniamo la massima attenzione a mantenervi informati e coinvolti. Comprendiamo che una comunicazione efficace è fondamentale per una partnership di successo, e ci impegniamo a creare un ambiente in cui <span class="accent-color-shade">l'Informazione</span> scorra senza intoppi.</p>
		
		<p>Infine, oggi <span class="accent-color-shade">l'Informazione</span> è sinonimo di dati personali. Affrontiamo con serietà la sicurezza dei dati e la privacy, assistendovi o occupandoci dell'implementazione di misure robuste per garantire che i vostri dati siano sempre protetti.</p>
	</section>

	<section class="stack-large">

		<h3 class="cluster">
			<span>Graphic</span>
			<span class="separator-span">_</span>
			<span>Design</span>
			<span class="separator-span">:</span>
		</h3>

		<p>Il <span class="accent-color-shade">Graphic Design</span> è la tela per la narrazione creativa. Dal primo scintillio di un'idea all'ultima pennellata, il nostro team intreccia storie che incarnano l'essenza del vostro brand. Attraverso una ponderata combinazione di immagini, tipografia e elementi di design, miriamo a creare contenuti visivi che raccontano storie coinvolgenti, assicurando che rimangano sempre freschi, incisivi e distintivi.</p>

		<p>La nostra filosofia di <span class="accent-color-shade">Graphic Design</span> va oltre l'apparenza, concentrandosi sulla fusione intenzionale di forma e funzione. Ogni elemento di design svolge un ruolo, garantendo non solo un'attrattiva visiva, ma anche un'utilità pratica. Questo equilibrio intenzionale assicura che le tue esperienze visive siano non solo piacevoli, ma servano efficacemente il loro scopo previsto.</p>
		
		<p>Creare <span class="accent-color-shade">Esperienze Visive</span> richiede la comprensione del vostro pubblico. Il nostro approccio di design è centrato sulla creazione per l'utente finale, garantendo che i design risuonino e coinvolgano. Che si tratti di un'elegante interfaccia utente o di un accattivante materiale di marketing, diamo la massima priorità alla creazione di esperienze che catturino e lascino un'impressione duratura.</p>
	</section>

	<section class="stack-large">

		<h3 class="cluster">
			<span>Phi</span>
			<span class="separator-span">:</span>
		</h3>

		<p><span class="accent-color-shade">Phi</span> è la lettera greca, simbolo delle proporzioni perfette e incarna il nostro impegno verso i massimi standard di qualità. Che si tratti delle nostre consulenze <span class="accent-color-shade">IT</span> o della creazione di <span class="accent-color-shade">Graphic Designs</span>, la precisione delle nostre decisioni e la vostra soddisfazione sono fondamentali per noi. Non offriamo semplicemente soluzioni; le personalizziamo meticolosamente per rispettare gli elevati standard del settore e adattarci alle vostre esigenze uniche.</p>

		<p>L'innovazione è al centro di <span class="accent-color-shade">Phi</span>. Cerchiamo attivamente soluzioni creative ed efficaci per le sfide digitali, garantendo che i nostri servizi siano non solo all'avanguardia, ma anche adattati alle vostre esigenze in continua evoluzione.</p>
	</section>

	<Contact />
</main>