---
import "../styles/global.css";
import Contact from "../components/Contact.astro";
---

<main class="box stack-xxx-large">

	<section class="stack-large">

		<h2 class="cluster">
			<span>W</span>
			<span class="separator-span">&</span>
			<span>B</span>
		</h2>

		<dfn>WEB & BRANDING</dfn>

		<p>Our Innovative Web and Branding Solutions are designed to ensure that your business not only stands out in a crowded digital landscape but also resonates with your target audience. We combine technical expertise with creative flair to create digital experiences that are both engaging and effective.</p>
	</section>

	<section class="stack-large">

		<h3 class="cluster">
			<span>Web</span>
			<span class="separator-span">-</span>
			<span>Dev</span>
			<span class="separator-span">&</span>
			<span>Design</span>
		</h3>

		<dfn>Your online visibility</dfn>

		<p>Our expertise lies in the realm of crafting tailored digital solutions for a compelling online presence. With a focus on web design and development, we specialize in building custom, responsive, and user-friendly websites. Our commitment extends to creating not just visually appealing but also highly functional online experiences with seamless cross-platform compatibility. We strive to resonate with your audience, ensuring that your digital presence remains ahead in the ever-evolving digital landscape.</p>

		<ul class="box stack-x-small">
			<li>Custom Responsive Website Design.</li>
			<li>E-commerce Website Development.</li>
			<li>Website Maintenance and Support.</li>
			<li>User Interface (UI) and User Experience (UX) Design.</li>
			<li>Cross-Platform Web Development.</li>
			<li>Web Design for Business Promotion.</li>
		</ul>
	</section>

	<section class="stack-large">

		<h3 class="cluster">
			<span>Graphic</span>
			<span class="separator-span">_</span>
			<span>Design</span>
			<span class="separator-span">&</span>
			<span>Branding</span>
		</h3>

		<dfn>Your brand "visage"</dfn>

		<p>Graphic Design and Branding are at the heart of your business's visual identity. Our services range from logo creation to complete branding solutions. We blend creativity with strategic design, ensuring your brand narrative is powerful and cohesive. Through expertly designed and creative visual materials, we aim to make your brand not just seen, but remembered.</p>

		<ul class="box stack-x-small">
			<li>Logo and Brand Identity Design.</li>
			<li>Graphic Design Services.</li>
			<li>Typography and Illustration.</li>
			<li>Brand Narrative and Strategy.</li>
			<li>Style Guides and Brand Guidelines.</li>
			<li>Packaging Design.</li>
			<li>Advertising Design.</li>
			<li>Commercial Art.</li>
			<li>Environmental Graphics.</li>
			<li>Signage Design.</li>
			<li>Exhibition Design.</li>
			<li>etc...</li>
		</ul>
	</section>

	<section class="stack-large">

		<h3 class="cluster">
			<span>Digital</span>
			<span class="separator-span">_</span>
			<span>Media</span>
		</h3>

		<dfn>Express your values dynamically</dfn>

		<p>In the realm of Digital and Interactive Media, we bring your ideas to life through animation and motion graphics. Our services extend to crafting immersive digital experiences, including visual effects and 3D assets, enhancing the way your audience interacts with your brand. We specialize in creating engaging content that captivates, entertains, and educates, setting your brand apart in the digital landscape.</p>

		<ul class="box stack-x-small">
			<li>Animation and Motion Graphics.</li>
			<li>Digital Design and Digital Experiences.</li>
			<li>Visual Effects Design.</li>
			<li>Interactive Elements Integration.</li>
			<li>3D Design.</li>
		</ul>
	</section>

	<section class="stack-large">

		<h3 class="cluster">
			<span>Content</span>
			<span class="separator-span">&</span>
			<span>Marke</span>
			<span>ting</span>
		</h3>

		<dfn>Your online business</dfn>

		<p>Our Content Creation and Marketing services are designed to amplify your brand's voice and presence. From compelling written content and dynamic social media strategies to engaging video production and data visualization, we cover all aspects of digital marketing. Our SEO and email marketing expertise ensure your content reaches the right audience, driving engagement and building lasting connections.</p>

		<ul class="box stack-x-small">
			<li>Content Creation and Distribution.</li>
			<li>Social Media Strategy and Management.</li>
			<li>Marketing Campaigns.</li>
			<li>Naming, Verbal Identity, and Copywriting.</li>
			<li>Photography Design.</li>
			<li>Video Production and Animation Design.</li>
			<li>Email and Digital Marketing.</li>
		</ul>
	</section>

	<section class="stack-large">

		<h3 class="cluster">
			<span>Print</span>
			<span class="separator-span">/</span>
		</h3>

		<dfn>Your "irl" communication</dfn>
	
		<p>Print and Publication services cater to your offline marketing needs. We handle everything from design to the final print, ensuring high-quality results for all your marketing materials, including brochures, business cards, and flyers. Our book and publishing design services ensure your publications stand out, blending aesthetic appeal with practicality, to leave a tangible impression in the hands of your audience.</p>

		<ul class="box stack-x-small">
			<li>Print Design and Management.</li>
			<li>Book and Publishing Design.</li>
			<li>Marketing Material Printing (Brochures, Business Cards, Flyers).</li>
		</ul>
	</section>

	<section class="stack-large">

		<h3 class="cluster">
			<span>Consul</span>
			<span class="separator-span">:</span>
			<span>Ting</span>
			<span class="separator-span">!</span>
		</h3>

		<dfn>Expert guidance</dfn>

		<p>Our Consulting and Research services are tailored to provide strategic insights and solutions. We offer expert design consulting and research services, focusing on communication design, licensing, and intellectual property. Our aim is to empower your business with knowledge and innovative strategies, ensuring your design choices are informed, effective, and legally sound.</p>

		<ul class="box stack-x-small">
			<li>Branding and Visual Identity Consulting.</li>
			<li>Design and Web Research and Testing.</li>
			<li>Communication Design.</li>
			<li>Licensing and Intellectual Property Consultation.</li>
		</ul>
	</section>

	<section class="stack-large">

		<h3 class="cluster">
			<span>Special</span>
			<span class="separator-span">_</span>
			<span>Design</span>
			<span class="separator-span">:</span>
			<span>Services</span>
		</h3>

		<dfn>Aesthetics at the service of function</dfn>

		<p>Specialized Design Services encompass a range of unique offerings including industrial, product and signal design. We focus on creating designs that are not only aesthetically pleasing but also functional and accessible to all. Our sound design expertise adds an auditory dimension to your projects, enhancing the overall sensory experience and ensuring a comprehensive design approach.</p>

		<ul class="box stack-x-small">
			<li>Industrial and Product Design.</li>
			<li>Set Design for public events.</li>
			<li>Universal and Accessible Design.</li>
			<li>Sound Design.</li>
		</ul>
	</section>

	<Contact />
</main>