---
import "../styles/global.css";
import Contact from "../components/Contact-fr.astro";
---

<main class="box stack-xxx-large">

	<section class="stack-large">

		<h2 class="cluster">
			<span>W</span>
			<span class="separator-span">&</span>
			<span>B</span>
		</h2>

		<dfn>WEB & BRANDING</dfn>

		<p>
			Nos solutions innovantes en matière de Web et de Branding sont
			conçues pour s'assurer que votre entreprise se démarque non
			seulement dans un paysage numérique encombré, mais aussi qu'elle
			résonne auprès de votre public cible. Nous combinons expertise
			technique et créativité afin de créer des expériences numériques à la
			fois captivantes et efficaces.
		</p>
	</section>

	<section class="stack-large">

		<h3 class="cluster">
			<span>Web</span>
			<span class="separator-span">-</span>
			<span>Dev</span>
			<span class="separator-span">&</span>
			<span>Design</span>
		</h3>

		<dfn>Votre Visibilité En Ligne</dfn>

		<p>
			Nos services de Conception et de Développement Web sont la pierre
			angulaire de votre présence en ligne, mettant l'accent sur la création
			de sites Web sur mesure, réactifs et conviviaux. Nous sommes
			spécialisés dans les solutions de commerce électronique, le
			développement d'applications mobiles et la compatibilité
			multiplateforme, garantissant que votre site Web soit non seulement
			visuellement attrayant mais aussi hautement fonctionnel. Avec une
			attention particulière aux analyses et un soutien continu, nous
			élaborons des expériences numériques qui résonnent avec votre public
			et restent en tête dans le monde numérique.
		</p>

		<ul class="box">
			<li>Conception de site Web personnalisée</li>
			<li>Conception Web réactive</li>
			<li>Développement de sites Web de commerce électronique</li>
			<li>Analyse Web et Rapports</li>
			<li>Maintenance et Support de site Web</li>
			<li>Conception d'Interface Utilisateur (UI)</li>
			<li>Conception de l'Expérience Utilisateur (UX)</li>
			<li>Stratégie Numérique et Planification</li>
			<li>Développement Web multiplateforme</li>
			<li>Conception Web pour la Promotion d'Entreprise</li>
		</ul>
	</section>

	<section class="stack-large">

		<h3 class="cluster">
			<span>Design</span>
			<span class="separator-span">_</span>
			<span>Gra</span>
			<span>phi</span>
			<span>que</span>
			<span class="separator-span">&</span>
			<span>Branding</span>
		</h3>

		<dfn>Le Visage de votre Entreprise</dfn>

		<p>
			La Conception Graphique et le Branding sont au cœur de l'identité
			visuelle de votre entreprise. Nos services vont de la création de
			logo à des solutions de branding complètes. Nous mélangeons la
			créativité avec une conception stratégique en typographie, en art
			commercial et en graphisme environnemental, garantissant que le
			récit de votre marque soit puissant et cohérent. Grâce à des signes
			expertement conçus et des matériaux d'exposition, nous visons à
			faire en sorte que votre marque ne soit pas seulement vue, mais
			aussi mémorisée.
		</p>

		<ul class="box">
			<li>Conception de logo et d'identité de marque</li>
			<li>Services de conception graphique</li>
			<li>Typographie et illustration</li>
			<li>Récit et stratégie de marque</li>
			<li>Guides de style et directives de marque</li>
			<li>Conception d'emballages</li>
			<li>Conception publicitaire</li>
			<li>Art commercial</li>
			<li>Graphisme environnemental</li>
			<li>Conception de signalisation</li>
			<li>Conception d'expositions</li>
		</ul>
	</section>

	<section class="stack-large">

		<h3 class="cluster">
			<span>Médias</span>
			<span class="separator-span">_</span>
			<span>Nu</span>
			<span>mé</span>
			<span>ri</span>
			<span>ques</span>
			<span class="separator-span">&</span>
			<span>Inter</span>
			<span class="separator-span">:</span>
			<span>actifs</span>
		</h3>

		<p>
			Dans le domaine des Médias Numériques et Interactifs, nous donnons
			vie à vos idées grâce à l'animation, à la création de graphiques
			animés et à la conception de jeux. Nos services s'étendent à la
			création d'expériences numériques immersives, y compris les effets
			visuels et la réalité augmentée, améliorant la façon dont votre
			public interagit avec votre marque. Nous sommes spécialisés dans la
			création de contenu captivant qui captive, divertit et éduque,
			démarquant ainsi votre marque dans le paysage numérique.
		</p>
		<ul class="box">
			<li>Animation et création de graphiques animés</li>
			<li>Conception numérique et expériences numériques</li>
			<li>Conception de jeux</li>

			<li>Conception d'effets visuels</li>
			<li>Intégration d'éléments interactifs</li>
			<li>Conception de réalité virtuelle et augmentée</li>
		</ul>
	</section>

	<section class="stack-large">
		<h3>Création de Contenu et Marketing</h3>
		<p>
			Nos services de Création de Contenu et de Marketing sont conçus pour
			amplifier la voix et la présence de votre marque. De contenus écrits
			convaincants et de stratégies dynamiques sur les médias sociaux à
			une production vidéo engageante et à la visualisation des données,
			nous couvrons tous les aspects du marketing numérique. Notre
			expertise en référencement (SEO) et en marketing par e-mail garantit
			que votre contenu atteint le public approprié, stimulant ainsi
			l'engagement et établissant des connexions durables.
		</p>
		<ul class="box">
			<li>Création et distribution de contenu</li>
			<li>Stratégie et gestion des médias sociaux</li>
			<li>Campagnes marketing</li>
			<li>Nomination, identité verbale et rédaction</li>
			<li>Conception photographique</li>
			<li>Production vidéo et conception d'animation</li>
			<li>Visualisation des données</li>
			<li>Optimisation pour les moteurs de recherche (SEO)</li>
			<li>Marketing par e-mail et marketing numérique</li>
		</ul>
	</section>

	<section class="stack-large">
		<h3>Impression et Publication</h3>
		<p>
			Les services d'impression et de publication répondent à vos besoins
			de marketing hors ligne. Nous nous occupons de tout, de la
			conception à l'impression finale, en garantissant des résultats de
			haute qualité pour tous vos supports marketing, y compris les
			brochures, les cartes de visite et les dépliants. Nos services de
			conception de livres et de publication garantissent que vos
			publications se démarquent, mêlant attrait esthétique et praticité,
			laissant ainsi une impression tangible entre les mains de votre
			public.
		</p>
		<ul class="box">
			<li>Conception et gestion de l'impression</li>
			<li>Conception de livres et de publications</li>
			<li>
				Impression de matériel marketing (brochures, cartes de visite,
				dépliants)
			</li>
		</ul>
	</section>

	<section class="stack-large">
		<h3 class="cluster">
			<span>Consul</span>
			<span class="separator-span">:</span>
			<span>Ting</span>
			<span class="separator-span">!</span>
		</h3>

		<p>
			Nos services de Consultation et de Recherche sont conçus pour
			fournir des informations et des solutions stratégiques. Nous
			proposons des services de consultation en matière de conception,
			d'éducation et de recherche, en mettant l'accent sur la conception
			de communication, les licences et la propriété intellectuelle. Notre
			objectif est de donner à votre entreprise les connaissances et les
			stratégies innovantes nécessaires pour que vos choix en matière de
			conception soient informés, efficaces et juridiquement solides.
		</p>
		<ul class="box">
			<li>Consultation en conception</li>
			<li>Éducation et formation en conception</li>
			<li>Recherche et tests en conception</li>
			<li>Conception de communication</li>
			<li>Consultation en licences et propriété intellectuelle</li>
		</ul>
	</section>

	<section class="stack-large">
		<h3>Services de Conception Spécialisés</h3>
		<p>
			Les Services de Conception Spécialisés englobent une gamme d'offres
			uniques, notamment la conception industrielle, de produits,
			intérieure et paysagère. Nous nous concentrons sur la création de
			designs qui sont non seulement esthétiquement plaisants, mais aussi
			fonctionnels et accessibles à tous. Notre expertise en conception
			sonore ajoute une dimension auditive à vos projets, améliorant
			l'expérience sensorielle globale et garantissant une approche
			globale de la conception.
		</p>
		<ul class="box">
			<li>Conception industrielle et de produits</li>
			<li>Conception intérieure et paysagère</li>
			<li>Conception universelle et accessible</li>
			<li>Conception sonore</li>
		</ul>
	</section>

	<Contact />
</main>
