---
import "../styles/global.css";
import Contact from "../components/Contact-it.astro";
---

<main class="box stack-xxx-large">

	<section class="stack-large">

		<h2 class="cluster">
			<span>W</span>
			<span class="separator-span">&</span>
			<span>B</span>
		</h2>

		<dfn>WEB & BRANDING</dfn>

		<p>Le nostre soluzioni innovative di sviluppo web e branding sono progettate per garantire che la vostra azienda non solo si distingua in un affollato panorama digitale, ma anche sia in sintonia col vostro pubblico di riferimento. Uniamo l'esperienza tecnica con la creatività per creare esperienze digitali coinvolgenti ed efficaci, incarnando i nostri valori di professionalità, competenza ed eccellenza.</p>
	</section>

	<section class="stack-large">

		<h3 class="cluster">
			<span>Web</span>
			<span class="separator-span">_</span>
			<span>Design</span>
			<span class="separator-span">&</span>
			<span>Development</span>
		</h3>

		<dfn>Vostra visiblità online</dfn>

		<p>Il Web Design rappresentano la pietra angolare della vostra presenza digitale. Ci concentriamo sulla creazione di siti web su misura e facili da usare.</p>

		<p>Siamo specializzati in soluzioni responsive e compatibilità cross-platform, garantendo che il vostro sito web non solo sia visivamente accattivante, ma anche altamente funzionale.</p>

		<p>Con un'attenzione costante ai trends e un supporto continuo, creiamo esperienze digitali che siano in sintonia con il vostro pubblico e che restino sempre all'avanguardia nel mondo digitale.</p>

		<ul class="box stack-x-small">
			<li>Realizzazione di siti web personalizzati e responsive.</li>
			<li>Sviluppo di siti web per il commercio elettronico.</li>
			<li>Manutenzione e supporto del sito web.</li>
			<li>Progettazione dell'interfaccia utente (UI) e dell'esperienza utente (UX).</li>
			<li>Sviluppo web cross-platform.</li>
			<li>Progettazione web per la promozione aziendale.</li>
		</ul>
	</section>

	<section class="stack-large">

		<h3 class="cluster">
			<span>Graphic</span>
			<span class="separator-span">_</span>
			<span>Design</span>
			<span class="separator-span">&</span>
			<span>Branding</span>
		</h3>

		<dfn>Vostra Brand "Visage"</dfn>

		<p>Il graphic design e il branding sono il cuore dell'identità visiva della vostra azienda. I nostri servizi spaziano dalla creazione del logo a soluzioni complete di branding. Uniamo la creatività al design strategico in tipografia, arti grafiche commerciali e progettazione del packaging, garantendo che la narrazione del vostro brand sia potente e coesa.</p>

		<p>Attraverso materiali visivi creativi e progettati con maestria, miriamo a rendere il vostro brand non solo visibile, ma anche memorabile.</p>

		<ul class="box stack-x-small">
			<li>Design di Logo e Brand Identity.</li>
			<li>Servizi di Graphic Design.</li>
			<li>Tipografia e Illustrazione.</li>
			<li>Progettazione pubblicitaria.</li>
			<li>Narrazione e strategia del brand.</li>
			<li>Guide dello stile e Style Guide del brand.</li>
			<li>Progettazione del packaging.</li>
			<li>Arti Grafiche Commerciali.</li>
			<li>Exhibition Design.</li>
			<li>ecc...</li>
		</ul>
	</section>

	<section class="stack-large">

		<h3 class="cluster">
			<span>Media</span>
			<span class="separator-span">_</span>
			<span>Digitali</span>
		</h3>

		<dfn>Esprimete vostre valore dinamicamente</dfn>

		<p>Nel mondo dei media digitali e interattivi, diamo vita alle vostre idee attraverso Motion Graphics. I nostri servizi si estendono alla creazione di esperienze digitali coinvolgenti, inclusi Digital Design ed effetti visivi, migliorando il modo in cui il vostro pubblico interagisce con il vostro brand.</p>

		<ul class="box stack-x-small">
			<li>Motion Graphics.</li>
			<li>Design in 3D.</li>
			<li>Design degli effetti visivi.</li>
			<li>Integrazione di elementi interattivi.</li>
		</ul>
	</section>

	<section class="stack-large">

		<h3 class="cluster">
			<span>Creazione</span>
			<span class="separator-span">&</span>
			<span>Marketing</span>
		</h3>

		<dfn>Vostro Business Online</dfn>

		<p>I nostri servizi di creazione e marketing dei contenuti sono progettati per amplificare la voce e la presenza del vostro brand. Dalla creazione di contenuti scritti coinvolgenti e strategie Social Media alla produzione di video e visualizzazione dei dati, copriamo tutti gli aspetti del marketing digitale.</p>

		<p>La nostra esperienza in SEO (Search Engine Optimization) e email marketing garantisce che i vostri contenuti raggiungano il pubblico giusto, aumentando l'interazione e costruendo connessioni durature.</p>

		<ul class="box stack-x-small">
			<li>Creazione e distribuzione di contenuti.</li>
			<li>Strategia Social Media.</li>
			<li>Campagne di marketing.</li>
			<li>Naming, identità verbale e copywriting.</li>
			<li>Progettazione fotografica.</li>
			<li>Email marketing e digital marketing.</li>
		</ul>
	</section>

	<section class="stack-large">

		<h3 class="cluster">
			<span>Stampa</span>
			<span class="separator-span">:</span>
		</h3>

		<dfn>Vostra Communicazione "irl"</dfn>

		<p>I servizi di stampa e pubblicazione soddisfano le vostre esigenze di marketing offline. Ci occupiamo di tutto, dalla progettazione alla stampa finale, garantendo risultati di alta qualità per tutti i vostri materiali di marketing, inclusi opuscoli, biglietti da visita e volantini.</p>

		<p>I nostri servizi di progettazione di libri e pubblicazioni assicurano che le vostre pubblicazioni si distinguano, unendo l$appeal estetico alla praticità, per lasciare un'impressione tangibile nelle mani del vostro pubblico.</p>

		<ul class="box stack-x-small">
			<li>Design e Gestione della Stampa.</li>
			<li>Progettazione di libri e pubblicazioni.</li>
			<li>Stampa di Materiali di Marketing (opuscoli, biglietti da visita, volantini, ecc...).</li>
		</ul>
	</section>

	<section class="stack-large">

		<h3 class="cluster">
			<span>Consulenza</span>
			<span class="separator-span">&</span>
			<span>Ricerca</span>
		</h3>

		<dfn>Guida Esperta</dfn>

		<p>I nostri servizi di consulenza e ricerca sono progettati per fornire approfondimenti e soluzioni strategiche. Offriamo consulenza di Design e servizi di ricerca, concentrati sul Design della Comunicazione, sul licensing e sulla proprietà intellettuale.</p>

		<p>Il nostro obiettivo è quello di dotare la vostra azienda di conoscenze e strategie innovative, garantendo che le vostre scelte di design siano informate, efficaci e legalmente valide.</p>

		<ul class="box stack-x-small">
			<li>Branding e Identità Visiva Consulenza.</li>
			<li>Consulenza, Ricerca e Test di Design.</li>
			<li>Design della Comunicazione.</li>
			<li>Consulenza su licensing e proprietà intellettuale.</li>
		</ul>
	</section>

	<section class="stack-large">
		<h3 class="cluster">
			<span>Servizi</span>
			<span class="separator-span">_</span>
			<span>Specializzati</span>
		</h3>
	
		<dfn>Estetica al servicio della funzione</dfn>

		<p>I Servizi di Design Specializzati comprendono una gamma di offerte uniche, tra cui design industriale, di prodotti e segnaletico. Ci concentriamo sulla creazione di design che siano non solo esteticamente piacevoli, ma anche funzionali e accessibili a tutti.</p>

		<p>La nostra competenza nel design del suono aggiunge una dimensione uditiva ai tuoi progetti, potenziando l'esperienza sensoriale complessiva e assicurando un approccio al design completo.</p>
	
		<ul class="box stack-x-small">
			<li>Design Industriale e di Packaging Prodotti.</li>
			<li>Design di Interni.</li>
			<li>Design Universale e Accessibile.</li>
			<li>Sound Design.</li>
		</ul>
	</section>

	<Contact />
</main>