---
import "../styles/global.css";
import { SITE_TITLE } from "../consts";
import Contact from "../components/Contact.astro";
---

<main class="box stack-xxx-large">

	<section class:list={"stack-large"}>

		<h2 class="cluster">
			<span>E</span>
			<span class="separator-span">&</span>
			<span>T</span>
		</h2>

		<dfn>EDUCATION & TRAINING</dfn>

		<p>In today's Digital Era, understanding and utilizing technology effectively is vital for success. At {SITE_TITLE}, we specialize in IT Education and Training tailored to empower individuals, small businesses, and independent professionals. Our services are designed to enhance your digital literacy, offering practical, hands-on skills that translate into real-world efficiency and security.</p>
	</section>

	<section class:list={"stack-large"}>
		
		<h3 class="cluster">
			<span>Computing</span>
			<span class="separator-span">_</span>
			<span>Skills</span>
			<span class="separator-span">:</span>
		</h3>

		<dfn>Dive into the Digital World with Confidence</dfn>

		<p>This section is tailored for beginners and those looking to refine their digital skills. From mastering popular operating systems like Windows, macOS, and Linux, computers and mobile devices to mastering essential and advanced software, we cover it all. Enhance your productivity and learn to maximize your computer and mobile devices for business and personal success.</p>
		
		<ul class="box stack-small">
			<li>Comprehensive introduction to the operation of computers, smartphones and mobile devices.</li>
			<li>In-depth tutorials on operating systems: Windows, macOS, Linux, iOS, iPadOS and Android.</li>
			<li>Guidance on fundamental software: Most commonly used applications and software, web browsers, word processing, etc...</li>
			<li>Interactive workshops on file management, basic troubleshooting and system optimization.</li>
			<li>Training on using cloud storage and applications like iCloud, Google Drive, Dropbox, Microsoft OneDrive for data storage and collaboration.</li>
			<li>Mobile Device Mastery: Effective use of smartphones and tablets for business and personal applications.</li>
		</ul>
	</section>

	<section class:list={"stack-large"}>

		<h3 class="cluster">
			<span>Internet</span>
			<span class="separator-span">,</span>
			<span>Security</span>
			<span class="separator-span">&</span>
			<span>Data</span>
		</h3>

		<dfn>Safeguarding your Private Information</dfn>

		<p>Navigate the digital world with ease and security while safeguarding your data, whether it's stored locally or online. This section brings together Internet mastery, online security, and data backup for optimal digital navigation and the preservation of your essential information, regardless of where it's stored. Learn safe browsing practices, effective search techniques, email management, as well as best practices for securing your online activities and backing up your data.</p>

		<ul class="box stack-small">
			<li>Training on safe browsing practices.</li>
			<li>Strategies for effective use of search engines.</li>
			<li>Comprehensive guide to secure email setup and usage.</li>
			<li>Utilization of communication tools: instant messaging and video conferencing.</li>
			<li>Best practices for creating and managing strong and secure passwords.</li>
			<li>Techniques for protecting online accounts.</li>
			<li>Recognition and prevention of threats such as malwares, phishing and fraudulent emails.</li>
			<li>Management of privacy settings on social media and online platforms.</li>
			<li>Key concepts in cybersecurity and the importance of safeguarding personal and professional data.</li>
			<li>Cybersecurity threats prevention and response learning.</li>
			<li>Practices for data backup and protection, whether stored locally or in the cloud, to ensure the security of your personal and professional information.</li>
		</ul>
	</section>

	<section class:list={"stack-large"}>

		<h3 class="cluster">
			<span>Digital</span>
			<span class="separator-span">_</span>
			<span>Business</span>
			<span class="separator-span">&</span>
			<span>Marketing</span>
		</h3>

		<dfn>Launch and Grow your Online Presence</dfn>

		<p>From setting up an e-commerce store to implementing successful digital marketing strategies, this section covers everything you need to thrive in the digital marketplace. Understand the nuances of online payment systems, dive into effective store management, and learn how to use social media for brand growth and customer engagement. Gain insights into digital advertising and content marketing to make data-driven decisions for your business.</p>

		<ul class="box stack-small">
			<li>Understanding online payment systems, payment gateways, and transaction security.</li>
			<li>Effective online store management: inventory, customer service, and order fulfillment.</li>
			<li>Marketing and SEO tactics for e-commerce, including social media marketing and email campaigns.</li>
			<li>Fundamentals of social media use for business growth, account setup, and audience engagement.</li>
			<li>Managing a company's digital presence and online reputation; dealing with negative feedback.</li>
			<li>Insights into digital advertising, content marketing, and analytics.</li>
		</ul>
	</section>

	<!-- <section class:list={"stack-large"}>

		<h3 class="cluster">
			<span>Continuous</span>
			<span class="separator-span">_</span>
			<span>Learning</span>
			<span class="separator-span">&</span>
			<span>Support</span>
		</h3>

		<dfn>Stay Updated with Ongoing Education and Assistance</dfn>

		<p>Discover the dynamic tech landscape with our Continuous Learning and Support. Immerse yourself in ongoing educational opportunities, including refresher courses designed to keep your skills sharp. Our commitment is to ensure you stay at the forefront of emerging technologies and trends, empowering you to navigate the ever-evolving world of technology with confidence.</p>

		<ul class="box stack-small">
			<li>Ongoing support and refresher courses.</li>
			<li>Regular updates on emerging technologies and trends.</li>
		</ul>
	</section> -->

	<Contact />
</main>