---
import "../styles/global.css";
import { SITE_TITLE } from "../consts";
import Contact from "../components/Contact-it.astro";
---

<main class="box stack-xxx-large">

	<section class:list={"stack-large"}>

		<h2 class="cluster">
			<span>E</span>
			<span class="separator-span">&</span>
			<span>T</span>
		</h2>

		<dfn>EDUCAZIONE & TRAINING</dfn>

		<p>Nell'era digitale di oggi, capire e utilizzare efficacemente la tecnologia è fondamentale per il successo. Presso {SITE_TITLE}, siamo specializzati nell'Educazione e nella Formazione IT, progettate su misura per potenziare individui, piccole imprese e professionisti indipendenti. I nostri servizi sono concepiti per migliorare la vostra competenza digitale.</p>
	</section>

	<section class:list={"stack-large"}>
		
		<h3 class="cluster">
			<span>Informatica</span>
			<span class="separator-span">_</span>
			<span>di</span>
			<span class="separator-span">_</span>
			<span>Base</span>
		</h3>

		<p>Abbracciate il mondo digitale con fiducia. Questa sezione è dedicata ai principianti e a coloro che desiderano perfezionare le loro competenze digitali. Dall'uso di computer e dispositivi mobili alla padronanza del software essenziale, copriamo tutto. Migliorate la vostra produttività con workshop sulla gestione del tempo utilizzando strumenti digitali, scoprite le competenze di base nel design grafico per il marketing e imparate a sfruttare al massimo il vostro dispositivo mobile per il successo aziendale e personale.</p>
		
		<ul class="box stack-small">
			<li>Introduzione completa al funzionamento di computer, smartphone e dispositivi mobili.</li>
			<li><strong class="accent-color-shade">Tutorial approfonditi sui sistemi operativi:</strong> Windows, macOS, Linux, iOS, iPadOS e Android.</li>
			<li><strong class="accent-color-shade">Guida alle applicazioni software fondamentali:</strong> applicazioni basate su sistema operativo, browser web, word processing, etc...</li>
			<li>Workshop interattivi sulla gestione dei file, risoluzione dei problemi di base e ottimizzazione del sistema.</li>
			<li>Formazione sull'uso dello storage cloud e di applicazioni come iCloud, Google Drive, Dropbox, Microsoft OneDrive per la memorizzazione dei dati e la collaborazione.</li>
			<li><strong class="accent-color-shade">Workshop sulla produttività personale:</strong> gestione del tempo e organizzazione con strumenti digitali.</li>
			<li><strong class="accent-color-shade">Padronanza dei dispositivi mobili:</strong> uso efficace di smartphone e tablet per applicazioni aziendali e personali.</li>
		</ul>
	</section>

	<section class:list={"stack-large"}>

		<h3 class="cluster">
			<span>Internet</span>
			<span class="separator-span">,</span>
			<span>Sicurezza</span>
			<span class="separator-span">&</span>
			<span>Data</span>
		</h3>

		<p>Navigate nel mondo digitale con facilità e sicurezza, proteggendo i vostri dati, che siano archiviati in locale o online. Questa sezione comprende la padronanza di Internet, la sicurezza online e il backup dei dati per una navigazione digitale ottimale e la preservazione delle vostre informazioni essenziali, ovunque siano conservate.
		</p>

		<p>Imparate le pratiche di navigazione sicura, le tecniche di ricerca efficaci, la gestione delle email e le migliori pratiche per proteggere le vostre attività online e fare il backup dei vostri dati.</p>

		<ul class="box stack-small">
			<li>Formazione sulle pratiche di navigazione sicura.</li>
			<li>Strategie per un utilizzo efficace dei motori di ricerca.</li>
			<li>Guida completa alla configurazione e all'uso delle email.</li>
			<li>Utilizzo degli strumenti di comunicazione: messaggistica istantanea e videoconferenza.</li>
			<li>Buone pratiche per la creazione e la gestione di password sicure.</li>
			<li>Tecniche per proteggere gli account online.</li>
			<li>Riconoscimento e prevenzione delle minacce come phishing ed email fraudolente.</li>
			<li>Gestione delle impostazioni di privacy sui social media e piattaforme online.</li>
			<li>Concetti chiave sulla sicurezza informatica e l'importanza della protezione dei dati personali e professionali.</li>
			<li>Strategie di crittografia e backup dei dati per una sicurezza ottimale.</li>
			<li>Studi di caso sulle minacce alla sicurezza informatica e lezioni sulla prevenzione e la risposta.</li>
			<li>Pratiche di backup e protezione dei dati, che siano archiviati in locale o nel cloud, per garantire la sicurezza delle vostre informazioni personali e professionali.</li>
		</ul>
	</section>

	<section class:list={"stack-large"}>

		<h3 class="cluster">
			<span>Business</span>
			<span class="separator-span">_</span>
			<span>Digitale</span>
			<span class="separator-span">&</span>
			<span>Marketing</span>
		</h3>

		<p>Lanciate e fate crescere la vostra presenza aziendale online. Dalla gestione di un negozio online all'implementazione di strategie di marketing digitale di successo, questa sezione copre tutto ciò di cui avete  bisogno per prosperare nel mercato digitale. Comprendete le sfumature dei sistemi di pagamento online, approfondite la gestione efficace del negozio e imparate a utilizzare i social media per la crescita del brand e l'interazione con i clienti. Acquisite conoscenze sulla pubblicità digitale e il marketing dei contenuti per prendere decisioni basate sui dati per la tua azienda.</p>

		<ul class="box stack-small">
			<li>Guida passo-passo per la gestione di un negozio online e la creazione delle inserzioni dei prodotti.</li>
			<li>Comprensione dei sistemi di pagamento online, delle gateway di pagamento e della sicurezza delle transazioni.</li>
			<li>Gestione efficace del negozio online: inventario, servizio clienti e evasione degli ordini.</li>
			<li>Personalizzazione del design e dell'identità visiva per una presenza online di successo (collegato all'URL del marchio).</li>
			<li>Tattiche di marketing e SEO per il commercio elettronico, inclusi il marketing sui social media e le campagne via email.</li>
			<li>Fondamenti dell'uso dei social media per le aziende, la configurazione del profilo e l'interazione con il pubblico.</li>
			<li>Sfruttare i social media per la crescita aziendale e la consapevolezza del marchio.</li>
			<li>Gestione della presenza digitale e della reputazione online dell'azienda; gestione dei feedback negativi.</li>
			<li>Informazioni sulla pubblicità digitale, il marketing dei contenuti e le analisi.</li>
		</ul>
	</section>

	<Contact />

</main>