---
import "../styles/global.css";
import { SITE_TITLE } from "../consts";
import Contact from "../components/Contact-it.astro";
---

<main id="content" class="box stack-xxx-large">

	<section class="stack-large">

		<h2 class="cluster">
			<span class="separator-span">S</span>
			<span>I</span>
			<span>T</span>
		</h2>

		<dfn>SERVIZI IT</dfn>

		<p>
			<span class="accent-color-shade">{SITE_TITLE}</span> comprende le sfide del mondo digitale, sia che si tratti di costruire una solida presenza online, affrontare complessità IT o potenziare un'identità visiva. Offre una suite completa di servizi in Supporto IT, Sviluppo Web, Branding e Formazione, pensati per individui, professionisti indipendenti e piccole imprese. Ci impegniamo a fornire soluzioni pratiche e dirette per le vostre sfide digitali. Esplorate i nostri servizi per maggiori informazioni.
		</p>
	</section>

	<section class="stack-large">

		<h3 class="cluster">
			<span>Su</span>
			<span>ppor</span>
			<span>to</span>
			<span class="separator-span">_</span>
			<span>Tec</span>
			<span>ni</span>
			<span>co</span>
			<span class="separator-span">&#9874;</span>
		</h3>

		<dfn>Risoluzione dei Problemi</dfn>

		<p>
			Avete problemi tecnici che disturbano il vostro lavoro o causano frustrazione? I  servizi di Infographi risolvono rapidamente problemi hardware e software, eliminano i tempi di inattività e garantiscono un'operatività fluida. Affrontiamo virus, problemi di connettività di rete e forniamo soluzioni proattive per mantenere il vostro ambiente IT ottimizzato e funzionante.
		</p>

		<ul class="box stack-small">
			<li><strong>Supporto per Dispositivi:</strong> Assistenza su una vasta gamma di dispositivi, inclusi computers, smartphones e tablets, e soluzione dei problemi che vanno da prestazioni lente a malfunzionamenti hardware e software.</li>
			<li><strong>Protezione e Rimozione di Virus e Malware:</strong> Protezione del vostro mondo digitale dalle minacce online e garanzia di  sicurezza completa per tutti i vostri dispositivi.</li>
			<li><strong>Soluzioni di Connessione:</strong> Competenza nell'impostazione e risoluzione dei problemi di connessioni Wi-Fi e Internet, con garanzia di accesso stabile e costante.</li>
			<li><strong>Backup e Recupero Dati:</strong> Salvataggio e Recupero sicuro dei vostri dati digitali essenziali come foto e documenti.</li>
		</ul>
	</section>

	<section class="stack-large">
		<h3 class="cluster">
			<span>SERVIZIO</span>
			<span class="separator-span">:</span>
			<i class="accent-color">SECONDA</i>
			<span class="separator-span">-</span>
			<i class="accent-color">VITA</i>
			<span class="separator-span">&#9937;</span>

		</h3>

		<dfn>La Vostra Tecnologia Sempre Aggiornata</dfn>

		<p>Quando la manutenzione standard e le riparazioni non sono sufficienti per mantenere i dispositivi al massimo delle prestazioni, il servizio 'Seconda Vita' può essere la soluzione. Specializzati nel rinnovare hardware vecchio o obsoleto, il nostro approccio include l'aggiornamento dei componenti per migliorare le prestazioni e l'installazione di sistemi operativi aggiornati e facili da usare.</p>

		<ul class="box stack-small">
			<li><strong>Aggiornamento dei Componenti:</strong> Sostituzione o Estensione della vita dei vostri componenti obsoleti.</li>
			<li>Adattamento del Sistema Operativo: Installazione delle versioni più recenti e sicure dei sistemi operativi.</li>
			<li><strong>Ottimizzazione del Software:</strong> Aggiornamento e regolazione del software per migliorare le prestazioni.</li>
			<li><strong>Potenziamento della Sicurezza:</strong> Implementazione delle moderne funzionalità di sicurezza.</li>
		</ul>
	</section>

	<section class="stack-large">

		<h3 class="cluster">
			<span>A</span>
			<span class="separator-span">.</span>
			<span>C</span>
			<span class="separator-span">.</span>
			<span>I</span>
			<span class="separator-span">.</span>
			<span class="separator-span">&#9881;</span>
		</h3>

		<dfn>Acquisizione, Configurazione and Integrazione</dfn>

		<p>Vi assistiamo in tutto, dalla configurazione di computer e dispositivi, alla configurazione di sistemi, garantendo che la vostra tecnologia sia efficace e soddisfi le vostre esigenze. Inoltre, se necessitate assistenza nella selezione e nell'acquisto dei prodotti tecnologici giusti, siamo qui per guidarvi nel processo e aiutarvi a prendere decisioni informate.</p>

		<ul class="box stack-small">
			<li><strong>Acquisizione e Configurazione di Dispositivi e Applicazioni:</strong> Assistenza nell'acquisto, assemblaggio, installazione e configurazione di vari dispositivi e applicazioni.</li>
			<li><strong>Integrazione di Tecnologia Smart per Casa e Ufficio:</strong> Integriamo la tecnologia smart nel vostro ambiente, migliorando comodità ed efficienza.</li>
			<li><strong>Soluzioni di Rete Personalizzate:</strong> Configurazioni di rete personalizzate, sia per esigenze personali che professionali, da reti Wi-Fi domestiche sicure a piccole infrastrutture aziendali.</li>

		</ul>
	</section>

	</section>

	<section class="stack-large">

		<h3 class="cluster">
			<span>Dati</span>
			<span class="separator-span">&#9876;</span>
		</h3>

		<dfn>Organizzare e Proteggere</dfn>

		<p>Nel panorama digitale di oggi, la sicurezza, la ridondanza e la protezione dei dati sono cruciali. I nostri servizi in questo settore sono meticolosamente progettati per proteggere le vostre informazioni, salvaguardandole contro la perdita di dati. Offriamo misure di sicurezza complete e strategie solide di gestione dei dati, personalizzate per soddisfare le vostre esigenze uniche.</p>

		<ul class="box stack-small">
			<li><strong>Servizi Avanzati di Sicurezza:</strong> Solide soluzioni di sicurezza per salvaguardare le vostre informazioni sensibili e difesa contro le minacce informatiche.
			</li>
			<li><strong>Gestione dei dati:</strong> Mantenimento dell'integrità delle vostre informazioni con servizi di backup affidabili, garantendo il recupero e la continuita del vostro lavoro nel caso di incidenti improvvisi.
		</ul>
	</section>

	<section class="stack-large">

		<h3 class="cluster">
			<span>Con</span>
			<span>su</span>
			<span>len</span>
			<span>za</span>
			<span class="separator-span">&#9813;</span>
		</h3>

		<dfn>
			Guida Esperta
		</dfn>

		<p>
			Attraverso i nostri servizi di Consulenza IT, ci assicuriamo che le aziende siano non solamente preparate per affrontare le sfide tecnologiche attuali ma anche pronte per le future innovazioni in campo informatico.
		</p>

		<p>Siamo focalizzati sull'orientamento strategico nel campo della cybersecurity, della gestione dei dati e dell'acquisizione hardware e software. I nostri servizi includono l'implementazione di metodologie aziendali come il Lean 5S per ottimizzare le operazioni del vostro business.</p>
	
		<ul class="box stack-small">
			<li>Srategie per rafforzare la Cybersecurity e proteggere gli dati.</li>
			<li>Raccomandazioni sull'acquisizione di Hardware and Software.</li>
			<li>Audit di Securezza e Valutazioni del Rischio.</li>
			<li>Guida nell selezione di soluzioni di Backup dei Dati sicure.</li>
			<li>Implementazione di Metodologie Lean per operazioni efficienti.</li>

		</ul>
	</section>

	<Contact />
</main>