---
import "../styles/global.css";
import { SITE_TITLE } from "../consts";
import Contact from "../components/Contact-fr.astro";
---

<main id="content" class="box stack-xxx-large">

	<section class="stack-large">

		<h2 class="cluster">
			<span class="separator-span">S</span>
			<span>I</span>
		</h2>

		<dfn>SERVICES INFORMATIQUES</dfn>

		<p><span class="accent-color-shade">{SITE_TITLE}</span> comprend les défis liés à la navigation dans le monde numérique. C'est pourquoi nous proposons une gamme complète de services spécifiquement conçus pour les particuliers, les professionnels indépendants et les petites entreprises. Que vos besoins concernent l'assistance informatique, la maintenance, le dépannage et la formation, la conception web et graphique ou le branding, nous nous engageons à fournir des solutions qui répondent directement à vos défis numériques uniques. Explorez nos offres pour plus d'informations.</p>
	</section>

	<section class="stack-large">

		<h3 class="cluster">
			<span>Assistance</span>
			<span class="separator-span">_</span>
			<span>Technique</span>
			<span class="separator-span">&</span>
			<span>Dépannage</span>
			<span class="separator-span">&#9874;</span>
		</h3>

		<dfn>
			Getting Back at Work
		</dfn>

		<p>Des problèmes techniques perturbent-ils votre travail ? Nos services résolvent rapidement les problèmes matériels et logiciels, réduisent les temps d'arrêt et garantissent un fonctionnement fluide à l'avenir. Nous nous occupons des problèmes techniques et proposons un dépannage proactif pour maintenir votre environnement informatique optimisé et fonctionner sans accroc.</p>

		<ul class="box stack-small">
			<li><strong class="accent-color-shade">Assistance Appareils :</strong> Nous vous proposons notre assistance sur une large gamme d'ordinateurs, de smartphones, de tablettes, etc..., pour résoudre les problèmes allant des performances lentes aux dysfonctionnements matériels et logiciels.</li>
		
			<li><strong class="accent-color-shade">Protection et Élimination des Virus et Logiciels Malveillants :</strong> En protégeant votre environnement en ligne contre les menaces, nous assurons une sécurité avancée pour tous vos appareils.</li>
		
			<li><strong class="accent-color-shade">Solutions de Connectivité :</strong> Nous avons l'expertise pour mettre en place et résoudre les problèmes de connexion Wi-Fi et Internet, garantissant un accès stable et constant.</li>
		
			<li><strong class="accent-color-shade">Sauvegarde et Récupération de Données :</strong> Nous assurons la sauvegarde sécurisée et la récupération de vos données numériques essentielles, incluant les photos, les documents, les mots de passe et les e-mails.</li>
		</ul>		
	</section>

	<section class="stack-large">

		<h3 class="cluster">
			<span>SERVICE</span>
			<span class="separator-span">:</span>
			<i class="accent-color-shade">SECONDE</i>
			<span class="separator-span">-</span>
			<i class="accent-color-shade">VIE</i>
			<span class="separator-span">&#9937;</span>
		</h3>

		<dfn>Revitaliser Vos Appareils</dfn>

		<p>Parfois, les maintenances standards et les réparations ne suffisent pas à maintenir vos appareils à leur niveau optimal de performance. Et puisque le remplacement systématique n'est ni toujours possible ni nécessaire, notre service 'Seconde Vie' prend tout son sens. Nous nous spécialisons dans la revitalisation de matériel ancien ou obsolète, prolongeant ainsi non seulement leur durée de vie, mais également leur sécurité et leur efficacité dans le paysage technologique actuel en perpétuelle évolution.</p>
		
		<ul class="box stack-small">
			<li><strong class="accent-color-shade">Mises à Niveau des Composants :</strong> Remplacement et mise à niveau des composants obsolètes.</li>
			<li><strong class="accent-color-shade">Adaptation du Système d'Exploitation :</strong> Installation de la version la plus récente, la plus adaptée et la plus sécurisée du système d'exploitation.</li>
			<li><strong class="accent-color-shade">Optimisation des Logiciels :</strong> Mise à jour et ajustement des logiciels pour une meilleure performance.</li>
			<li><strong class="accent-color-shade">Renforcement de la Sécurité :</strong> Mise en place de fonctionnalités de sécurité aux normes actuelles.</li>
		</ul>
		
		<p>Choisissez de faire perdurer vos investissements technologiques avec notre service 'Seconde Vie', grâce à une transformation efficace et rentable de votre technologie existante, garantissant qu'elle continue à répondre à vos besoins évolutifs.</p>
		
	</section>

	<section class="stack-large">

		<h3 class="cluster">
			<span>Con</span>
			<span>fi</span>
			<span>gu</span>
			<span>ra</span>
			<span>tion</span>
			<span class="separator-span">&</span>
			<span>In</span>
			<span>te</span>
			<span>gra</span>
			<span>tion</span>
			<span class="separator-span">&#9881;</span>

		</h3>

		<dfn>Assemblage et Optimisation</dfn>

		<p>De l'assemblage d'ordinateurs à la configuration des appareils, en passant par les mises à niveau du système, nos services veillent à ce que votre configuration technologique soit efficace et parfaitement adaptée à vos besoins. De plus, si vous avez besoin d'assistance pour choisir et acheter les bons produits technologiques, nous sommes là pour vous accompagner tout au long du processus et vous aider à prendre des décisions éclairées.</p>
		
		<ul class="box stack-small">
			<li><strong class="accent-color-shade">Configuration d'Appareils et d'Applications :</strong> Nous vous assistons dans l'achat, l'assemblage, l'installation et la configuration de divers appareils et applications, garantissant ainsi un investissement optimal.</li>
			
			<li><strong class="accent-color-shade">Solutions Réseau pour Tous les Besoins :</strong> Nous proposons des solutions de configuration réseau personnalisées pour répondre à vos besoins personnels et professionnels, allant des réseaux Wi-Fi sécurisés à domicile aux infrastructures pour petites entreprises.</li>
		</ul>
		</section>

		<section class="stack-large">

		<h3 class="cluster">
			<span>Sé</span>
			<span>cu</span>
			<span>ri</span>
			<span>té</span>
			<span class="separator-span">&</span>
			<span>Gestion</span>
			<span class="separator-span">des</span>
			<span>Données</span>
			<span class="separator-span">&#9876;</span>
		</h3>

		<dfn>Garder les Loups à Distance</dfn>

		<p>Dans le paysage technologique d'aujourd'hui, la sécurité, la redondance et la protection de l'information sont primordiales. Nos services sont méticuleusement conçus pour non seulement protéger vos informations, mais aussi assurer leur redondance et les protéger contre la perte de données. Nous proposons des mesures de sécurité complètes et des stratégies robustes de gestion des données, adaptées pour répondre à vos besoins uniques, garantissant que vos données sont non seulement sécurisées mais également sauvegardées de manière cohérente et protégées.</p>
		
		<ul class="box stack-small">
			<li><strong class="accent-color-shade">Services de Sécurité Avancé :</strong> Solutions de sécurité robustes pour protéger les informations sensibles et se défendre contre les menaces cybernétiques, adaptées aussi bien aux contextes personnels que professionnels.</li>
			<li><strong class="accent-color-shade">Expertise en Gestion des Données :</strong> Maintien de l'intégrité de vos informations grâce à des services de sauvegarde fiables, assurant la récupération et la continuité en cas d'imprévus.</li>
		</ul>
	</section>

	<section class="stack-large">

		<h3 class="cluster">
			<span>Con</span>
			<span>sul</span>
			<span class="separator-span">:</span>
			<span>ting</span>
			<span class="separator-span">!</span>
			<span class="separator-span">&#9813;</span>
		</h3>

		<dfn>Conseils d'Expert</dfn>

		<p>Grâce à nos services de consultation stratégique en informatique, nous nous assurons que vous êtes non seulement équipé pour relever les défis informatiques actuels, mais également préparé aux avancées technologiques futures. Nous mettons l'accent sur l'orientation stratégique, la cybersécurité, la gestion des données, l'acquisition matérielle et logicielle et les services consultatifs. Nos services comprennent la mise en œuvre de méthodologies efficaces telles que la méthodologie Lean 5S pour optimiser vos opérations commerciales.</p>
		
		<ul class="box stack-small">
			<li>Stratégies de renforcement de la cybersécurité pour protéger les actifs de données.</li>
			<li>Recommandations sur l'acquisition de matériel et de logiciels.</li>
			<li>Audits de sécurité et évaluations des risques.</li>
			<li>Orientation pour la sélection de solutions de stockage de données efficaces et sécurisées.</li>
			<li>Assistance à la transformation numérique et à l'adoption de nouvelles technologies.</li>
			<li>Mise en œuvre de méthodologies Lean pour des opérations efficaces.</li>
		</ul>
	</section>

	<Contact />
</main>