---
import "../styles/global.css";
import { SITE_TITLE } from "../consts";
import Contact from "../components/Contact.astro";
---

<main id="content" class="box stack-xxx-large">

	<section class="stack-large">

		<h2 class="cluster">
			<span>I</span>
			<span>T</span>
			<span>S</span>
		</h2>

		<dfn>INFORMATION TECHNOLOGIES SERVICES</dfn>

		<p><span class="accent-color-shade">#</span>{SITE_TITLE} understands the challenges of navigating the digital world. That's why we offer a comprehensive suite of IT services specifically designed for individuals, independent professionals and small businesses.</p>
	</section>

	<section class="stack-large">

		<h3 class="cluster">
			<span>Tech</span>
			<span>ni</span>
			<span>cal</span>
			<span class="separator-span">_</span>
			<span>Support</span>
			<span class="separator-span">&</span>
			<span>Trouble</span>
			<span class="separator-span">&#8594;</span>
			<span>Shooting</span>
			<span class="separator-span">&#9874;</span>
		</h3>

		<dfn>
			Getting Back at Work
		</dfn>

		<p>Are technical glitches disrupting your work or causing frustration? Our services swiftly resolve hardware and software issues, reduce downtime, and ensure future seamless operation. We address technical problems and provide proactive troubleshooting to keep your IT environment optimized and running smoothly.</p>

		<ul class="box stack-small">
			<li><strong>Device Support: </strong>We offer assistance with a wide range of computers, smartphones, tablets, addressing issues from slow performance to hardware and software malfunctions.</li>

			<li><strong>Virus and Malware Protection and Removal: </strong>Protecting your online environment against threats, we ensure advanced security for all your devices.</li>

			<li><strong>Connectivity Solutions: </strong>Expertise in setting up and troubleshooting Wi-Fi and internet connections, establishing stable and consistent access.</li>

			<li><strong>Data Backup and Recovery: </strong>Secure retrieval of your essential digital data, including photos, documents, passwords and emails.</li>
		</ul>
	</section>

	<section class="stack-large">

		<h3 id="second-life-h3" class="cluster">
			<i class="accent-color">SECOND</i>
			<span class="separator-span">-</span>
			<i class="accent-color">LIFE</i>
			<span class="separator-span">:</span>
			<span>SERVICE</span>
			<span class="separator-span">&#9937;</span>
		</h3>

		<dfn>Revitalizing Your Technology</dfn>

		<p>Sometimes standard maintenance and repair aren't enough to keep your devices performing at their best. And since systematically replacing devices is not always possible or necessary, that's where our 'Second Life' service comes in. We specialize in breathing new life into old or outdated hardware.</p>

		<ul class="box stack-small">
			<li><strong>Component Upgrades: </strong>Replacing and upgrading outdated components.</li>
			<li><strong>Operating System Adaptation: </strong>Installation of the latest, most suitable and secure OS version.</li>
			<li><strong>Software Optimization: </strong>Updating and tweaking software for improved performance.</li>
			<li><strong>Security Enhancements: </strong>Implementing modern security features.</li>
		</ul>

		<p>Choose to make your technological investments endure with our <span class="accent-color">'Second Life'</span> service, thanks to an efficient and cost-effective transformation of your existing technology, ensuring it continues to meet your evolving needs. This service not only extends the life of your devices but also ensures they remain secure and efficient in today's fast-paced technological landscape.</p>
	</section>

	<section class="stack-large">

		<h3 class="cluster">
			<span>Setup</span>
			<span class="separator-span">&</span>
			<span>In</span>
			<span>te</span>
			<span>gra</span>
			<span>tion</span>
			<span class="separator-span">&#9881;</span>

		</h3>

		<dfn>
			Build and Optimise
		</dfn>

		<p>We assist with everything from computer assembly, device configuration to system upgrades, ensuring your technology setup is effective and meets your needs. Additionally, if you need assistance in selecting and purchasing the right technology products, we're here to guide you through the process and help you make informed decisions.</p>

		<ul class="box stack-small">
			<li><strong>Device and Application Setup: </strong>Assistance in the purchase, assembly, installation, and configuration of various devices and applications, ensuring optimal investments.</li>
			
			<li><strong>Network Solutions for Every Need: </strong>Customized network setup solutions, catering to both personal and business requirements, from secure home Wi-Fi networks to small business infrastructures.</li>
		</ul>
	</section>

	<section class="stack-large">

		<h3 class="cluster">
			<span>Data</span>
			<span class="separator-span">&</span>
			<span>Security</span>
			<span class="separator-span">&#9876;</span>
		</h3>

		<dfn>
			Keeping the Wolves from the Door
		</dfn>
		
		<p>In today's technological landscape, the security, redundancy, and protection of information are paramount. Our services are meticulously designed to not only protect your information but also ensure its redundancy and safeguard against data loss. We offer comprehensive security measures and robust data management strategies, tailored to meet your unique needs, ensuring that your data is not only secure but also consistently backed up and protected with utmost care.</p>

		<ul class="box stack-small">
			<li><strong>Advanced Security Services: </strong>Robust security solutions to safeguard sensitive information and defend against cyber threats, suitable for both personal and business contexts.</li>
			<li><strong>Data Management Expertise: </strong>Maintaining the integrity of your information with reliable backup services, ensuring recovery and continuity in case of unforeseen incidents.</li>
		</ul>
	</section>

	<section class="stack-large">

		<h3 class="cluster">
			<span>Con</span>
			<span>sul</span>
			<span>ting</span>
			<span class="separator-span">&#9813;</span>
		</h3>

		<dfn>
			Expert Guidance
		</dfn>
		<p>
			Through our strategic IT consulting services, we ensure that you
			are not only equipped to handle current IT challenges but are also
			prepared for future technological advancements. Our focus stays on strategic
			guidance, cybersecurity, data management, hardware and software aquisition and advisory
			services. Our services include the implementation of efficient methodologies like the
			5S Lean Methodology to optimize your business operations.
		</p>
	
		<ul class="box stack-small">
			<li>Strategies for strengthening Cybersecurity to safeguard Data Assets.</li>
			<li>Recommendations on Hardware and Software Acquisition.</li>
			<li>Security Audits and Risk Assessments.</li>
			<li>Guidance on selecting efficient and secure Data Storage solutions.</li>
			<li>Assistance in Digital Transformation and New Technology adoption.</li>
			<li>Implementation of Lean Methodologies for efficient operations.</li>
		</ul>
	</section>

	<Contact />
</main>