---
import { SITE_TITLE } from "../consts";
import "../styles/global.css";
---
<main id="content" class="box stack-xxx-large">
	<section class="fluid-type-container stack-large">
		<h2 class="cluster">
			<span>I</span>
			<span>T</span>
			<span>S</span>
			<span class="separator-span">/</span>
		</h2>

		<dfn>SERVICES INFORMATIQUES</dfn>

		<p class="fluid-type-container">
			Bienvenue sur {SITE_TITLE}, votre destination de choix pour une large gamme de solutions informatiques, Web et de branding soigneusement conçues pour répondre aux besoins des particuliers, des professionnels indépendants et des petites entreprises. Notre mission est d'améliorer votre efficacité technologique, renforcer la sécurité et la fiabilité, consolider votre image publique et amplifier votre présence en ligne grâce à nos services experts.
		</p>
	</section>

	<section class="fluid-type-container stack-large">
		<h3>Support Technique <span class="separator-span">&</span> Dépannage</h3>
		<p>
			Les problèmes techniques perturbent-ils votre travail ou causent-ils de la frustration ? Nos services résolvent rapidement les problèmes matériels et logiciels, éliminent les temps d'arrêt et garantissent un fonctionnement sans faille. Nous traitons les virus, les problèmes de connectivité réseau et proposons un dépannage proactif pour maintenir votre environnement informatique optimisé et fonctionner en douceur.
		</p>
		<ul class="box">
			<li>Diagnostic et réparation de matériel et de logiciels</li>
			<li>Élimination et protection contre les virus et les logiciels malveillants</li>
			<li>Dépannage de la connectivité réseau et Internet</li>
			<li>Mises à jour du système d'exploitation et optimisation des performances</li>
			<li>Installation, configuration et support d'applications</li>
			<li>Maintenance, installation, réparation et optimisation de PC, Mac et ordinateurs portables</li>
			<li>Configuration, réparation, maintenance et mise en réseau d'imprimantes</li>
			<li>Élimination et prévention des virus, des logiciels malveillants et des logiciels espions</li>
			<li>Solutions de sauvegarde, de récupération et de transfert de données</li>
			<li>Configuration, dépannage et sécurité des réseaux sans fil</li>
			<li>Installation, configuration et intégration de dispositifs domotiques</li>
			<li>Optimisation du système et dépannage proactif.</li>
			<li>Etc...</li>
		</ul>
	</section>

	<section class="fluid-type-container stack-large">
		<h3 id="second-life-span">SERVICE SECONDE VIE<span class="separator-span">:</span></h3>
		<dfn>Revitalisation de Votre Technologie</dfn>
		<p>
			Parfois, la maintenance standard et les réparations ne suffisent pas à maintenir vos appareils performants. Et comme le remplacement systématique des appareils n'est pas toujours nécessaire ou possible, c'est là que notre service de 'Seconde Vie' intervient. Nous sommes spécialisés dans la revitalisation du matériel ancien ou obsolète.
			<p>
				Notre approche consiste à mettre à niveau méticuleusement les composants pour améliorer les performances, tout en installant des systèmes d'exploitation conviviaux et à jour. Ce service non seulement prolonge la durée de vie de vos appareils, mais garantit également qu'ils restent sécurisés et efficaces dans le monde numérique rapide d'aujourd'hui.
			</p>
			<p>
				Adoptez la transformation avec la 'Seconde Vie' et découvrez une technologie revitalisée qui répond à vos besoins actuels. Nous vous aiderons à tirer le meilleur parti de vos investissements technologiques.
			</p>
			<ul class="box">
				<li>Mise à niveau des composants : RAM, SSD, cartes graphiques, etc.</li>
				<li>Adaptation du système d'exploitation : Installation des dernières versions OS les plus adaptées et sécurisées.</li>
				<li>Optimisation des logiciels : Mise à jour et ajustement des logiciels pour des performances améliorées.</li>
				<li>Améliorations de sécurité : Mise en place de fonctionnalités de sécurité modernes.</li>
				<li>Élimination écologique : Élimination ou recyclage responsable des composants non mis à niveau.</li>
			</ul>
	</section>

	</section>

	<section class="fluid-type-container stack-large">
		<h3>Maintenance et Mises à Jour</h3>
		<p>
			La prévention est essentielle pour des performances informatiques constantes. Nous proposons une maintenance régulière des systèmes informatiques, des mises à jour système pour améliorer les performances et des services de sauvegarde et de récupération des données pour protéger vos informations critiques, garantissant une augmentation de la disponibilité et de l'efficacité du système.
		</p>
		<ul class="box">
			<li>Maintenance régulière des systèmes informatiques.</li>
			<li>Mise à niveau des systèmes pour améliorer les performances.</li>
			<li>Services de sauvegarde et de récupération des données.</li>
			<li>Maintenance proactive pour une augmentation de la disponibilité.</li>
		</ul>
	</section>

	<section class="fluid-type-container stack-large">
		<h3>Configuration et Gestion de Réseaux</h3>
		<p>
			Nous assurons une mise en réseau efficace et sécurisée, l'épine dorsale des entreprises modernes. Nos services comprennent la conception et l'installation d'infrastructures réseau, la configuration de la Wi-Fi et de l'accès Internet, ainsi que la gestion des aspects de sécurité tels que les pare-feu, les antivirus et les VPN.
		</p>
		<ul class="box">
			<li>Conception et installation d'infrastructures réseau.</li>
			<li>Configuration de la Wi-Fi et de l'accès Internet.</li>
			<li>Gestion de la sécurité du réseau.</li>
		</ul>
	</section>

	<section class="fluid-type-container stack-large">
		<h3>Services Informatiques à Distance</h3>
		<p>
			Obtenez rapidement des solutions aux problèmes informatiques sans visite sur site.

 Notre assistance à distance couvre le dépannage et la maintenance, garantissant des perturbations minimales dans vos opérations commerciales.
		</p>
		<ul class="box">
			<li>Assistance à distance pour le dépannage et la maintenance.</li>
		</ul>
	</section>

	<section class="fluid-type-container stack-large">
		<h3>Planification de la Reprise d'Activité en Cas de Sinistre</h3>
		<p>
			Préparez-vous à l'inattendu grâce à des plans de reprise d'activité complets, assurant une récupération rapide et la continuité des activités en cas de perturbations.
		</p>
		<ul class="box">
			<li>Élaboration et mise en œuvre de plans de reprise d'activité.</li>
			<li>Stratégies de sauvegarde et de récupération pour assurer la continuité des activités.</li>
		</ul>
	</section>

	<section class="fluid-type-container stack-large">
		<h3>Gestion des Dispositifs Mobiles</h3>
		<p>
			Gérez efficacement les smartphones, tablettes et autres appareils mobiles, garantissant la sécurité et la conformité aux politiques organisationnelles.
		</p>
		<ul class="box">
			<li>Configuration et gestion des appareils mobiles.</li>
			<li>Mise en place des politiques de sécurité mobile.</li>
		</ul>
	</section>

	<section class="fluid-type-container stack-large">
		<h3>Vente et Approvisionnement de Matériel Informatique</h3>
		<p>
			Nous vous aidons à acheter et à configurer le matériel informatique adapté à votre infrastructure informatique, en vous proposant des solutions économiques adaptées à vos besoins.
		</p>
		<ul class="box">
			<li>Assistance à l'achat et à la configuration du matériel informatique.</li>
			<li>Proposition de solutions matérielles économiques.</li>
		</ul>
	</section>

	<section class="fluid-type-container stack-large">
		<h3>Services de Virtualisation</h3>
		<p>
			Tirez parti de la virtualisation pour gagner en efficacité et réaliser des économies. Nous sommes spécialisés dans la configuration et la gestion de serveurs et de postes de travail virtuels sur divers systèmes d'exploitation.
		</p>
		<ul class="box">
			<li>Configuration et gestion de serveurs et de postes de travail virtuels.</li>
			<li>Solutions pour l'efficacité et les économies dans la virtualisation.</li>
		</ul>
	</section>
</main>