---
const homeURL = getRelativeLocaleUrl("en", "/");
import "../styles/global.css";
import { getRelativeLocaleUrl } from "astro:i18n";
import { EMAIL_ADDRESS, TELEPHONE_NUMBER } from "../consts";
import Link from "../components/Link.astro";
---

<main id="content" class="box">

	<section class="stack">

		<h2 class="cluster">
			<span>404</span>
		</h2>

		<dfn>Oups, something went wrong.</dfn>

		<p>
			The page your are trying to access does not exists. This page
			doesn't contain anything useful. <span
				id="does-it"
				class="glitch"
				data-text="Or does it ?"
				style="visibility: hidden;">Or does it ?</span>
		</p>

		<p>
			Follow the link to return to the website: <Link href={homeURL}>Home</Link>
		</p>

		<p id="bon">
			Congratulations !!! You just won a free audit for a device of your choice. <Link href={TELEPHONE_NUMBER}>Call us</Link> or <Link href={EMAIL_ADDRESS}>email us</Link> and claim your prize ! The password to communicate is: 	<span class="pass">"MACHINE"</span>.
		</p>
		
	</section>
</main>

<style>
	#bon {
		color: var(--color-void);
	}

	#bon:hover {
		animation-duration: 0.5s;
		animation-timing-function: ease-in-out;
		animation-fill-mode: forwards;
		animation-name: Stay-Visible;

	}

	@keyframes Stay-Visible {
		from {
			color: var(--color-void);
		}
		to {
			color: var(--color-color);
		}
	}
</style>
