---
const homeURL = getRelativeLocaleUrl("en", "/");
import "../styles/global.css";
import { getRelativeLocaleUrl } from "astro:i18n";
import { EMAIL_ADDRESS, TELEPHONE_NUMBER } from "../consts";
import Link from "../components/Link.astro";
---

<main id="content" class="box">

	<section class="stack">

		<span class="color-medium">#</span>

		<h2 class="cluster">
			<span>404</span>
		</h2>

		<dfn>Oups, il semble qu'un problème est survenu.</dfn>

		<p>
			La page que à laquelle vous tentez d'accéder n'existe pas. Cette page ne comporte rien d'utile.<span
				id="does-it"
				class="glitch"
				data-text="Or does it ?"
				style="visibility: hidden;">Ou peut-être que si ?</span>
		</p>

		<p>
			Cliquez sur ce lien pour retourner à la page d'accueil: <Link href={homeURL}>home</Link>
		</p>

		<p id="bon">
			Félicitations !!! Vous venez de gagner un audit gratuit de l'un de vos appareils de votre choix. <Link href={TELEPHONE_NUMBER}>Appelez-nous</Link> ou <Link href={EMAIL_ADDRESS}>envoyez-nous un email</Link> pour en profiter ! Le mot de passe à communiquer est: 	<span class="pass">"MACHINE"</span>.
		</p>

		<span class="color-medium">#</span>
	</section>
</main>

<style>
	#bon {
		color: var(--color-dark-void);
	}

	#bon:hover {
		animation-duration: 0.5s;
		animation-timing-function: ease-in-out;
		animation-fill-mode: forwards;
		animation-name: Stay-Visible;

	}

	@keyframes Stay-Visible {
		from {
			color: var(--color-void);
		}
		to {
			color: var(--color-color);
		}
	}
</style>
