---
import "../styles/global.css";
---

<main class="box stack-x-large fluid-container">
	<section class:list={"stack-large"}>
		<h2 id="it-training-and-education">Education</h2>
		<p>
			Through our Digital Empowerment and Education services, we aim to
			not only resolve technical challenges but also to enhance the IT
			capabilities of your team. By providing tailored training and
			customized solutions, we ensure that your business is well-equipped
			to handle the demands of the digital world. This approach reflects
			our commitment to empowering clients with the knowledge and tools
			they need for digital success.
		</p>
	</section>

	<section class:list={"stack-large"}>
		<h3>Training and Education</h3>
		<p>
			Empower your team with our comprehensive Training and Education
			services. We offer in-depth training on software usage and best
			practices to enhance your team's productivity. Our educational
			programs also cover essential topics like cybersecurity and data
			protection, equipping your staff to navigate the digital landscape
			securely and responsibly
		</p>
		<ul>
			<li>
				<p>
					Training on software use and best practices.
				</p>
			</li>
			<li>
				<p>
					Educational programs on cybersecurity and data protection.
				</p>
			</li>
		</ul>
	</section>

	<section class:list={"stack-large"}>
		<h3>Custom Solutions and Integration</h3>
		<p>
			Tailoring IT solutions to fit your unique needs is our specialty.
			Our Custom Solutions and Integration services are designed to
			streamline and automate your tasks. We create and integrate various
			IT systems and software applications, utilizing tools like
			Powershell scripting for efficient task automation, ensuring our
			solutions perfectly align with your business requirements
		</p>
		<ul>
			<li>
				<p>
					Developing custom scripts for task automation.
				</p>
			</li>
			<li>
				<p>
					Integrating diverse IT systems and software applications.
				</p>
			</li>
			<li>
				<p>
					Utilizing Powershell scripting for efficient automation.
				</p>
			</li>
		</ul>
	</section>
</main>
